[2016-06-30 17:52] sg- opened #1 "remove yotta references from example application user guide"
Will need to rename the repo too as per internal email.

[2016-07-01 15:06] sg- opened #3 "mbed import fails"
[code]

[2016-07-04 08:29] #1 closed, assigned to nobody

[2016-07-04 08:30] #3 closed, assigned to nobody

[2016-07-27 15:09] bulislaw opened #7 "Beacon not reported as iBeacon on iOS"
Using mbed-os-5.0.1-rc1 tag beacon demo works fine using Android (nRF Master Control Panel), but on iOS is not being detected as iBeacon. Both LightBlue and nRF Connect detect and show it as nRF5x without any more information.

[2016-07-28 08:14] toyowata opened #8 "IAR EWARM generates compile error"
Detected by OOB test RC#1

[code]

My IAR EWARM version is 7.70.1.

[2016-07-28 16:30] maclobdell opened #9 "WARNING: Program ... does not use source control management"
If you clone this repo from git, then cd into a sub folder like BLE_Beacon.  The mbed-cli command 'mbed ls' results in the following warning message, with a bad suggestion.

xxx@xxx-VirtualBox:~/Documents/Projects/mbed-os-example-ble/BLE_Beacon$ mbed ls
[mbed] WARNING: Program "BLE_Beacon" in "/home/xxx/Documents/Projects/mbed-os-example-ble/BLE_Beacon" does not use source control management.
[mbe

[2016-07-29 10:41] bulislaw opened #10 "Button: NUCLEO_F401RE + ST BLUE NRG: 'BUTTON1' was not declared in this scope GCC OoB RC#3"
Version: https://github.com/ARMmbed/mbed-os-example-ble/tree/mbed-os-5.1.0-rc3
OS: Mac 10.11.6
Toolchain: GCC_ARM
Target: NUCLEO_F401RE + ST BLUE NRG
Test: Button

[code]

[2016-07-29 10:51] bulislaw opened #11 "LEDBlinker: NUCLEO_F401RE+ST BLE NRG: Build errors - GCC OoB#3"
Version: https://github.com/ARMmbed/mbed-os-example-ble/tree/mbed-os-5.1.0-rc3
OS: Mac 10.11.6
Toolchain: GCC_ARM
Target: NUCLEO_F401RE + ST BLUE NRG
Test: LEDBlinker

[code]

[2016-07-29 13:43] bulislaw opened #12 "BLE_EddystoneObserver: NUCLEO_F401RE+ST BLE NRG: No Eddystone detected - GCC OoB#3"
Version: https://github.com/ARMmbed/mbed-os-example-ble/tree/mbed-os-5.1.0-rc3
OS: Mac 10.11.6
Toolchain: GCC_ARM
Target: NUCLEO_F401RE + ST BLUE NRG
Test: BLE_EddystoneObserver

My beacon is using BLE_EddystoneService (mbed-os-5.1.0-rc3) on nRF51_DK board and is being detected by my phone. But NUCLEO_F401RE flashed with Observer is not printing anything on serial (confirmed that serial connection

[2016-07-29 15:06] #12 closed, assigned to nobody

[2016-08-02 02:09] toyowata opened #15 "BLE_BatteryLevel: K64F+ST BLE NRG: no connection - ARM OoB#3"
I cannot see device in nRF Connect app.

* Updated NRG stack from [here](https://developer.mbed.org/teams/ST/code/BlueNRG-MS-Stack-Updater/)
* And build, flash example as:
```mbed update mbed-os-5.1.0-rc4``` and
```mbed compile -m K64F -t ARM```
* Open nRF Connect app, scan devices, but could not find a device

[2016-08-02 08:44] #10 closed, assigned to nobody

[2016-08-02 08:46] #11 closed, assigned to nobody

[2016-08-02 12:56] #8 closed, assigned to nobody

[2016-08-03 16:58] ConorPKeegan opened #16 "BLE_GAPButton: nRF52-DK advertised value not incrementing"
Pressing the buttons doesn't change the value in the advertisement, but the device can be seen in the nRF Connect app

* Tried all of the buttons to no avail
* Scanned for the device multiple times, to ensure that the app was updating the value
* Tried with the toolchains: ARM, GCC_ARM, and IAR

[2016-08-03 17:05] ConorPKeegan opened #17 "BLE_GAPButton: nRF52-DK fails to export"
When exporting using the IAR, GCC_ARM, and uvision toolchain, the nRF52-DK is reported as not being suported:
[code]

[2016-08-03 17:47] ConorPKeegan opened #19 "BLE_URIBeacon: nRF51-DK Physical Web app (Android) crashes"
When running the demo on nRF52-DK, using the Android Physical Web app, the app crashes while trying to configure the beacon.
* Seems to be the app that is causing the problem, as this does not happen on iPhone
* It should be noted that this is the older version of this example, the newer one can be found at [BLE_EddystoneService](https://github.com/ARMmbed/mbed-os-example-ble/tree/master/BLE_Eddys

[2016-08-03 18:08] ConorPKeegan opened #20 "BLE_GAPButton: NUCLEO_F746ZG with the ST shield - Fails to compile using mbed-CLI"
When compiling NUCLEO_F746ZG with the ST shield using GCC_ARM, ARM, and IAR toolchains, it fails to compile with different errors.
- GCC_ARM toolcahin fails with:

[code]
- ARM toolchain fails with:

[code]
- IAR toolchain fails with:

[code]

[2016-08-03 18:45] ConorPKeegan opened #21 "BLE Heart Rate Monitor: nRF51-DK - Exported IAR not visible when built"
The device does not show up when it has been built in IAR Embedded Workbench, after being exported from mbed-CLI.
* It builds in IAR Workbench without any errors, but does not appear when put onto the device
* Cannot see the device when scanning for it in nRF Connect
* Works fine when compiled using mbed-CLI with the IAR toolchain

[2016-08-04 14:38] #20 closed, assigned to nobody

[2016-08-04 17:57] #9 closed, assigned to nobody

[2016-08-09 05:21] toyowata commented on #15
@pan- Sorry for my late reply. It worked fine with D13 patch version of the X-NUCLEO-IDB05A1 board.  (I probably used non-patch version of the board with K64F, sorry).

[2016-08-09 05:21] #15 closed

[2016-08-09 05:23] toyowata commented on #8
Confirmed the fix.  Thanks.

[2016-08-17 10:46] nvlsianpu opened #23 "examples are not alligned to API of the mbed-evets library"
Some changes were made in mbed-events etc: https://github.com/ARMmbed/mbed-events/pull/7, https://github.com/ARMmbed/mbed-events/pull/5. Source of examples (main.cpp) were not update. Therefore examples even do not build. Is someone trying to resolve this? If not - I can do that.

[2016-08-17 12:24] pan- commented on #23
@nvlsianpu Which examples does not build ?
We are using mbed-events#v0.4 in our examples and the changes you pointed are not in this version.

[2016-08-17 13:20] nvlsianpu commented on #23
All examples. Yes I used this version and lastest - mentioned changes were already in v4.0.

[2016-08-17 14:02] nvlsianpu commented on #23
I checked - Examples (at last tag mbed-os-5.1.0 using mbed-events#v0.3. This works well for GCC_ARM, but neither ARM5 nor IAR do not build.

[2016-08-17 14:49] nvlsianpu commented on #23
I checked - Examples (at last tag mbed-os-5.1.0 using mbed-events#v0.3. This works well.

[2016-08-17 14:49] #23 closed

[2016-08-23 12:19] nuket opened #25 "nRF51-DK printf() causes hang when PC serial port not active / not opened."
Already reported this once in the [mbed OS codebase](https://github.com/ARMmbed/mbed-os/issues/2489), here's another concrete example of this happening.

The problem is that, with the nRF51-DK hooked up to my computer, if I don't connect to and open the serial port exposed as `/dev/ttyACM0`, whatever software is running on the DK board will just hang. It seems like the Nordic serial port code lock

[2016-08-23 12:25] nuket commented on #25
Here's the `.mbed` configuration I'm using:

I've tried with GCC 4.9 and 5.4, both exhibit identical behavior.

[2016-08-23 12:27] nuket commented on #25
Related issue, possibly: https://github.com/ARMmbed/mbed-os/issues/2474

[2016-08-24 10:05] nvlsianpu commented on #21
@pan Can merging softdevice and app be don by embedded workbench anyway?

[2016-08-25 23:17] sg- commented on #25
Can you confirm is #2535 resolved this issue?

[2016-08-26 09:27] nuket commented on #25
I will take a look.

[2016-08-29 11:35] janjongboom opened #27 "BLE_BUTTON_PIN_NAME is not defined"
In main.cpp for BLE_Button we use `BLE_BUTTON_PIN_NAME`. I see in mbed_app.json that we have something there, but I don't think the macro name is correct.

https://github.com/ARMmbed/mbed-os-example-ble/blob/master/BLE_Button/mbed_app.json

[2016-08-30 08:46] nuket commented on #25
Confirmed https://github.com/ARMmbed/mbed-os/pull/2535 resolved the issue after adding to `mbed_app.json`:

[code]

[2016-08-30 08:46] #25 closed

[2016-08-31 09:43] NickZhouSZ opened #28 "compiling error with online compiler"
Hi,

1, I tried to use mbed cli to compile the examples. I can compile successfully.
2, Because many developers are more familiar with the online compiler. https://developer.mbed.org/compiler
I try to import the mbed-os-example-ble to the online compiler(Import From URL) and succeed.
3, click compile. It will try to compile all the ble examples and compile failed with the BLE_Button. It shows:
Ide

[2016-08-31 12:17] pan- commented on #28
These examples are automatically mirrored on developer.mbed.org: https://developer.mbed.org/teams/mbed-os-examples/

This repository can't be directly imported in the web IDE because it contains many programs.

[2016-08-31 12:19] pan- commented on #27
@janjongboom What is your issue ? Could you provide me more details ?

[2016-08-31 12:52] janjongboom commented on #27
@pan-

If you build BLE_Button with mbed-cli it works fine, macro is there.

If you build BLE_Button in online compiler the macro is not defined.

[2016-08-31 13:19] pan- commented on #27
Thanks for the clarification.

Did you tried it from the [example](https://developer.mbed.org/teams/mbed-os-examples/code/mbed-os-example-ble-Button/) on developer.mbed.org ?
It works for me.

[2016-08-31 13:41] janjongboom commented on #27
@pan- Ah, didn't realize we had them split out there. Yeah I assume that will work, given that it's not in a different folder now. I'll share that link in the future.

[2016-08-31 13:41] #27 closed

[2016-10-21 10:45] #16 closed

[2016-10-21 10:45] #17 closed

[2016-10-21 10:45] #19 closed

[2016-10-21 10:45] #21 closed

[2016-10-21 10:45] #28 closed

[2016-12-09 14:04] mikaleppanen opened #35 "OOB: BLE_EddystoneService android application not working as in instructions"
Installed "Physical Web" application from google apps. Current version is 0.2.1. Looks like it migth not support configuration edit interface anymore or there is some problem that since it does not appear. It also crashed several times on my Samsung J5 when making the scan when mbed device was on. After the crashes it sometimes displayed the mbed OS URL.

[2016-12-09 14:53] pan- commented on #35
The version of the application used in the instructions is the version 0.1.865.
I can update them to reflect the changes made to the application (`Remove beacon configuration`); will you be happy with such change ?
For the crash of the application; I'm afraid there is nothing which can be done on the beacon side.

[2016-12-09 15:47] mikaleppanen commented on #35
Yes, if the configuration is no longer possible with the current application.

[2016-12-11 12:55] mikaleppanen opened #37 "OOB: BLE_EddystoneService beacon url configuration cannot be changed in beetle board"
Beacon URL cannot be changed with Beetle with Android "nRF Master Control Panel" . With NUCLEO-F401RE and nRF-51dk URL does change.

With working boards "nRF Master Control Panel" configuration interface "Data" sections shows "Value: https:://www.mbed.com" or whatever is configured.

With Beetle when "Data" is read is shows empty value field "Value: "

Also in programs main display URL remains as

[2016-12-12 08:57] MaggieMei opened #38 "OOB: BLE_EddystoneServic compile error for NUCLEO-F429ZI"
Command: mbed compile -m NUCLEO_F429ZI -t GCC_ARM
Error information:
[code]

[2016-12-12 09:03] #38 closed

[2016-12-12 09:47] pan- commented on #37
@fvincenzo Do you know what is going on with this ?
Is it related to the length of the characteristic ?

[2016-12-12 09:48] pan- commented on #35
@mikaleppanen Could we close this ?
I've merged #36 .

[2016-12-12 09:49] mikaleppanen commented on #35
Yes, it is ok to close this.

[2016-12-12 09:51] #35 closed

[2016-12-12 11:58] pan- opened #39 "[NRF5] Impossible to debug or flash the examples with IAR"
* **Description**: It is not possible to flash or debug an application with IAR on the Nordic target. This issue is caused by a bad interaction between CMSIS-DAP IF present on the Nordic boards and IAR CMSIS-DAP debug driver.
* **Workaround**: The best solution is to switch to the JLINK IF image and configure the IAR project to use it.
    - Download the [JLink IF](https://www.nordicsemi.com/eng/n

[2016-12-12 11:59] pan- opened #40 "[NUCLEO_F411RE]: Some BLE examples doesn't work with the X-NUCLEO BLE shield"
* **Description**: The following BLE examples doesn't work on the NUCLEO_F411RE with the ST shield:
    - BLE_BatteryLevel
    - BLE_Button
    - BLE_EddystoneObserver
    - BLE_EddystoneService
    - BLE_GapButton
    - BLE_HeartRate
    - BLE_LED
    - BLE_LEDBlinker
    - BLE_Thermometer
The cause of the failure is the use of an LED and the SPI1 in the same application. Even if the board define

[2016-12-12 14:52] fvincenzo commented on #37
Adding @abhishek-pandit @mmorenobarm to follow up.

[2016-12-12 15:28] sunsmilearm opened #41 "OOB: BLE_Beacon example with make_gcc_arm has link error (using NRF52_DK)"
command: >>mbed export -m NRF52_DK -i make_gcc_arm

Error message:

[code]

[2016-12-12 16:11] pan- commented on #41
srec_cat .././mbed-os/targets/TARGET_NORDIC/TARGET_NRF5/TARGET_MCU_NRF52832/sdk/softdevice/s132/hex/s132_nrf52_2.0.0_softdevice.hex  -intel BLE_Beacon.hex -intel -o BLE_Beacon-comb
ined.hex -intel --line-length=44

Did you download and install srecord as indicated in the `NOTE` message ?

[2016-12-13 05:54] sunsmilearm commented on #41
@pan- Passed after installed that tool. Thank you.

[2016-12-13 09:08] apalmieriGH commented on #40
@pan- the X_NUCLEO_IDB0XA1 library [page](https://developer.mbed.org/teams/ST/code/X_NUCLEO_IDB0XA1) on mbed.developer.org warns about Arduino connector compatibility and describes the workaround. Should be added also on [github](https://github.com/ARMmbed/mbed-os-example-ble) ?

[2016-12-14 10:14] #41 closed

[2016-12-15 10:58] pan- commented on #40
@apalmieriGH While the `X_NUCLEO_IDB0XA1` warn about the Arduino connector, the F411RE [page](https://developer.mbed.org/platforms/ST-Nucleo-F411RE/) doesn't indicate that the LED can't be used if SPI1 is used at the same time.

I've found another issue regarding pin mapping of F411 and F401. In the datasheet, they are identical but they are declared differently in mbed.

[2017-01-11 09:55] ccchang12 opened #45 "The mbedtls/* definition in file .mbedignore causes a compile error"
I compile BLE_BatteryLevel example for target NUMAKER_PFM_NUC472 but get a error.

The root cause is the NUC472 supports H/W SHA and need to include mbedtls header. Due to the mbedtls/* definition in file .mbedignore, the H/W SHA code cannot find the header and encounters an error. Please remove the mbedtls/* definition to fix this issue.

Below is the compile error message.

......
Scan: mbed
Sca

[2017-01-30 13:20] x893 opened #47 "Error: L6406E: No space in execution regions with .ANY selector matching ..."
Hi,
i compile example from BLE_Beacon example for HRM1017 board under mbed-cli and online compiler.

But only this messages on link
Link: BLE_Beacon
Error: L6406E: No space in execution regions with .ANY selector matching libspace.o(.bss).
Error: L6406E: No space in execution regions with .ANY selector matching retarget.o(.bss).
Error: L6406E: No space in execution regions with .ANY selector match

[2017-01-30 14:40] pan- commented on #47
@x893 There is not enough RAM on your target to support this example out of the box.

You can tweak the application to disable components like the RTOS to make it fit on your target. To do that, create a `.mbedignore` file at the root of the project and paste the following content:

[code]

Other tweaks can be applied in `mbed_app.json` (in the project root folder):

[code]

Unlike the original fi

[2017-01-30 18:09] x893 commented on #47
Thanks ! Now compile. How you know which modules can remove ? Telepathy ?

[2017-01-31 13:46] pan- commented on #47
@x893 During the transition to mbed OS 5 this issue arised with targets with less than 16K of RAM like yours. For this specific reason they do **not** officially support mbed OS 5 (mbed OS 2 is still supported).
Ignoring the RTOS brings the project to a state very close to mbed OS 2 and therefore allows the project to compile and  run.

Please, close this issue if you are happy with the answer.

[2017-01-31 18:00] #47 closed

[2017-02-05 14:16] nuket opened #49 "Incorrect event size in eventQueue definitions"
The eventQueue definition in the various BLE examples is too small:

[code]

Shouldn't the event size should use the EVENTS_EVENT_SIZE define (which is currently 52 bytes)?

[2017-02-16 09:18] jmjobin opened #53 "Thermometer change Notify to Indicate?"
On the BLE_Thermometer: cannot find where it set the Notify, but it is Notify. If you want to use the nRF ToolBox we need an "Indicate" to follow the thermometer BLE specification. Do not find a clue on mbed where to change this and how to call the class to set this Indicate   :-(
Can somebody help me?

[2017-02-22 13:48] jmjobin commented on #53
Found the solution: The Characteristic is set to Notify in the "HealthThermometerService.h". I do not know how to access the original file so I recreate mine using a HealthThermometerService.h file found on the NET and replaced NOTIFY by INDICATE and #include my HealthThermometerService.h file.
If there is a better way, someone let me know.

[2017-02-23 11:55] pan- commented on #49
What issue did you encounter ?

Previously they were no define for the event size and it has grown.
I agree that it is not consistent and the define should be use.

[2017-02-23 21:29] nuket commented on #49
I didn't experience any issues due to this, just something I noticed which may cause a surprise at some point for someone starting out with the examples.

[2017-03-01 08:42] toyowata opened #56 "[OOB_5_4_RC1] link errors in exported uvision5 project"
When exported uvision5 project is compiled, I got following link errors.

[code]
Full log output is here.
[mbed-os-example-ble_error_log.txt](https://github.com/ARMmbed/mbed-os-example-ble/files/810076/mbed-os-example-ble_error_log.txt)

## How to reproduce

[code]

Open ```BLE_EddystoneService.uvprojx``` and build the project.

## Conditions

* MDK-ARM version : uVision V5.22.0.0
* Pack : ```Nord

[2017-03-01 08:43] toyowata commented on #56
Related to https://github.com/ARMmbed/mbed-os-example-wifi/issues/19 and https://github.com/ARMmbed/mbed-os/issues/3807

[2017-03-01 09:23] toyowata opened #57 "[OOB_5_4_RC1] Probe not found error in exported IAR project"
When exported IAR project is debugged, I got following error dialog.

![iar_error](https://cloud.githubusercontent.com/assets/4926755/23453514/fe1b4bb2-feab-11e6-9c63-098953134736.png)

## How to reproduce

[code]

Open ```BLE_EddystoneService.eww``` and build the project.
Start debbugging by press [Download and Debug] button.

## Conditions

* IAR Embedded Workbench for ARM version : 7.80.4.12495

[2017-03-01 10:47] toyowata opened #58 "[OOB_5_4_RC1] Compile error in BLE_URIBeacon for all toolchain"
## How to reproduce

[code]

[code]

mbed ls

[code]

I got same compile error by IAR and GCC_ARM toolchain.

[2017-03-01 11:06] pan- commented on #57
@toyowata please see this issue: #39 and the list of known issues.
It is already reported.

[2017-03-01 11:07] pan- commented on #58
@toyowata This is a bug in the example, I will push a fix shortly.

[2017-03-02 11:46] pan- commented on #58
@toyowata If you are happy with the fix, could you close this issue ?

[2017-03-02 13:26] 0xc0170 commented on #56
will be fixed (fix referenced above)

[2017-03-02 20:50] mbartling opened #60 "[OOB_5_4_RC1] NUCLEO_F207ZG Pinmap not found"
Hi all,

working on the 5.4 oob for mbed-os-example-ble/BLE_URIBeacon on the Nucleo f207zg board and I am getting "pinmap not found for peripheral" when I run the compiled code.

![nucleof207zg](https://cloud.githubusercontent.com/assets/5848519/23526448/f1721da0-ff46-11e6-8f99-97e3e2e49868.PNG)

[2017-03-03 10:04] toyowata commented on #58
@pan- thanks.

[2017-03-03 10:04] #58 closed

[2017-03-03 12:14] ashok-rao opened #61 "[OoB_RC1_5.4] : FLASH size exceeds when using make_gcc_arm on nRF51_DK."
Steps to reproduce:
1. Import the example, switch to OoB branch.
2. mbed export -i make_gcc_arm -m nRF51_DK
3. make clean
4. make.

Compiles fine, but at link time, fails due to FLASH overflow.
[code]

[2017-03-03 17:31] ashok-rao opened #62 "[OoB_RC1_5.4]: BLEURIBeacon fails to advertise itself. Cannot be detected on Physical web app."
Steps to reproduce:
1. Clone the example, update to mbed OoB branch. Install Android app. (Using version 0.2.1 - updated from Google)
2. mbed compile -t ARM -m  nRF51_DK
3. Flash hex file, scan for beacons with the app.

Result:
The target enters config mode and exits after 60 sec but beacon cannot be detected on app.

Detailed description:
Using a generic BLE scanner app, the beacon is first dete

[2017-03-06 10:06] ashok-rao commented on #62
@pan- .. any ideas? Thanks.

[2017-03-06 10:07] ashok-rao commented on #61
@pan- .. any ideas? Thanks.

[2017-03-06 10:10] ashok-rao commented on #60
@mbartling  .. can you try the instructions under "Using ST Nucleo shield on other targets" section of the docs?
@pan- .. any other suggestions?

[2017-03-06 13:34] pan- commented on #61
@ashok-rao This is a bug in the exporters, I've opened an issue [here](https://github.com/ARMmbed/mbed-os/issues/3890)

[2017-03-06 14:01] pan- commented on #62
@ashok-rao Apparently, google cut the support of URI beacon last august (see [here](https://github.com/google/physical-web/pull/774)). The update including this code hit the Google playstore last quarter. That's why URIBeacons are not visible anymore.

Using nRF connect, I see the mode of the beacon changing after 60 seconds.

I'm not sure of what we should do here. Maybe ending the life of this e

[2017-03-06 14:10] pan- commented on #60
@ashok-rao If `IDB0XA1_D13_PATCH` is defined in `mbed_app.json` as indicated in the instructions then it compiles just fine.

[2017-03-06 16:09] mbartling commented on #60
It compiles fine with or without the patch. I get the error during runtime

[2017-03-06 17:40] mbartling commented on #60
It compiles fine with the patch, but the Physical Web app always fails to find the beacon

[2017-03-06 18:08] ashok-rao commented on #60
@mbartling , yes. This is now a known issue. Have a look at this: [https://github.com/ARMmbed/mbed-os-example-ble/issues/62]()

@sg- @pan-

[2017-03-06 18:10] ashok-rao commented on #62
Oh, OK. Thanks @pan- . Looks like the URIBeacon is fully replaced by Eddystone. http://google.github.io/uribeacon/

[2017-03-06 18:15] sg- commented on #62
I'd suggest we remove that example.

[2017-03-06 18:16] mbartling commented on #60
FYI: so far it doesnt look like a pin issue. I tried the swapping the resistors on the ble shield and following the instructions on this link https://developer.mbed.org/teams/ST/code/X_NUCLEO_IDB0XA1/ Still doesnt work

[2017-03-06 18:57] pan- commented on #60
@apalmieriGH what can be wrong with the NUCLEO_F207ZG ?

[2017-03-07 09:02] apalmieriGH commented on #60
@mbartling what is the BLE shield you are using? Can you try another example to check if the same issue occurs?

[2017-03-07 09:50] pan- commented on #60
@apalmieriGH I believe he's using the` IDB05A1`, I wonder if the pin mapping of the `NUCLEO_F207ZG` is well defined.

[2017-03-07 13:07] apalmieriGH commented on #60
@mbartling can you try the suggestion by @mray19027 reported here: https://github.com/ARMmbed/mbed-os/issues/3541 ?

@pan-

[2017-03-07 15:24] 0xc0170 commented on #39
One question - what's the IAR version for this known issue ? Is this still valid for latest IAR stable version - 7.8 ?

[2017-03-07 15:41] pan- commented on #39
yes, it is still valid for the latest stable version of IAR.
The issue lie in the CMSIS DAP IF used on Nordic boards.

[2017-03-08 14:39] MarceloSalazar commented on #62
@pan- could you please remove the URI beacon example in the OOB branch?

[2017-03-08 14:56] pan- commented on #62
Done, I close this.

[2017-03-08 14:56] #62 closed

[2017-03-08 18:22] #57 closed

[2017-03-10 12:34] MarceloSalazar commented on #60
@mbartling could you please provide an update on this?

[2017-03-10 12:40] #56 closed

[2017-03-10 13:49] pan- commented on #61
@ashok-rao The exporter `make_gcc_arm` use, by design, the `debug` profile which disable compilation optimization while `mbed-cli` use the `develop` profile which have compilation optimizations enabled.

The workaround is to use the `develop` profile when the project is exported:

[code]

[2017-03-10 14:31] ashok-rao commented on #61
Thanks @pan- ..

[2017-03-10 16:14] mbartling commented on #60
Hey @MarceloSalazar, worked with @mray19027 he is having issues compiling and I am still having the pinmap not found when I run the code.

[2017-03-23 08:16] tbondar opened #69 "BLE examples use too much power"
The power consumption of these examples seems to be in the range of a few milliamps which suggests that the processor doesn't go to any low power mode. The answer to [this question](https://developer.mbed.org/questions/77180/using-power-management-API-such-as-sd_ap/) suggested that low power operation will be default in the next release but it doesn't seem to be the case. Just updating the documen

[2017-03-31 05:00] liuxinbai commented on #40
Any update for this issue? we test the BLE_HeartRate_IDB0XA1, generate the bin by compiling with online compiler, found it work well. no LED1 and SPI1 conflict issue be found as your description. But faild when use the mbed-os-example-ble-xxx.
So, would like to know if it is really HW issue or it belong to SW issues since mbed-os 2 work well?

Actually we got a project by using X_NUCLEO_IDB0XA1 +

[2017-03-31 07:16] jmjobin commented on #40
How do you test your mbed-os-example-ble-xxx? And what mbed-os-example-ble-xxx?
I had problem too using the mbed-os-ble-Thermometer. The Nordic app in Android expect to receive a "Indication" but the mbed-os-.... send a"Notification" it work making some changes in the HealthThermometerService.h.
I am using the same device as yours X_NUCLEO_IDB0XA1 + STM32F401RE.
Do not know if this could help.
jea

[2017-03-31 07:32] liuxinbai commented on #40
Hi Jean-marc

Thanks alot for your kindly information.

I tested the Battery and HeartRate, none of them work will(the Device can not be found when adverting ) with mbed-os-5.4.0.
May I know which OS version in your Thermometer example.

And I use STM32 BLE Profiles as a test tool.

Best Regards,
Xinbai

From: Jean-Marc Jobin
Date: 2017-03-31 15:17
To: ARMmbed/mbed-os-example-ble
CC: liuxinbai; Co

[2017-03-31 08:08] jmjobin commented on #40
Hello :-)
I use mbed on-line compiler.
Excellent Xinbai........ Great stuff.
The mbed-os on revision says tag:mbed-os-5.4.2 since I updated it recently... But never tried to compile and flash again.
You are right this revision does not work...
I revert back to 5.3 and it works.
Thank you Xinbai :+1

[2017-03-31 08:16] jmjobin commented on #40
Post Scriptum: If this does help others as well. The revision 5.4.2 works on Nordic nRF52DK.
jean-marc

[2017-03-31 08:26] liuxinbai commented on #40
Please let me double check, do you mean The Thermal examples also works on
NUCLEO_F401RE+X-NUCLEO BEL shield?

Thanks alot for your feedback.

Best Regards,
Xinbai

From: Jean-Marc Jobin
Date: 2017-03-31 16:16
To: ARMmbed/mbed-os-example-ble
CC: liuxinbai; Comment
Subject: Re: [ARMmbed/mbed-os-example-ble] [NUCLEO_F411RE]: Some BLE examples doesn't work with the X-NUCLEO BLE shield (#40)
Post Scri

[2017-04-04 09:57] pan- commented on #40
@liuxinbai The bug described here is specific to the NUCLEO_F411RE and it's IO mapping in mbed OS. I would be surprised if the mbed OS 2 example work. On the other hand, the NUCLEO_F401RE is **not** impacted by this shared I/O issue.

@liuxinbai @jmjobin I've found two bugs affecting the X_NUCLEO_IDB0XA1 under mbed OS 5.4:
* The link to the ST library is outdated, I'm not sure of how it happens, I

[2017-04-05 02:22] liuxinbai commented on #40
@pan Thank you very much, waiting for your good news.

[2017-04-05 06:44] jmjobin commented on #40
Ready to test it :-)

[2017-04-05 11:25] MarceloSalazar commented on #60
Correct, BLE_URIBeacon example has been deprecated - we should use an alternative example (feel free to close this ticket an open a new one).

If this is not working in 5.4.x, could you share more information? (build logs, serial output, environment info, etc).

[2017-04-05 12:27] jmjobin commented on #7
I do not use IOS as well. Just trying to help from my understanding:
RF Master Control Panel reads any BLE devices and do not filter and such you get your callbacks.
It will read any BLE devices, iBeacon or altBeacon or Eddystone or any device advertising.
A real app should filter the iBeacons according to the filters.
I do not think mbed-os-... does follow the iBeacon format.
Try the mbed example

[2017-04-05 13:15] pan- commented on #60
@MarceloSalazar Others reported the issue [here](https://github.com/ARMmbed/mbed-os-example-ble/issues/40#issuecomment-291452560). The issue is impacting NUCLEO_F4xx based targets when they used mbed OS 5.4, the combination K64F + BLE shield is fine though.

[2017-04-05 21:47] pan- commented on #40
@liuxinbai @jmjobin the problem encountered should be fixed now.

[2017-04-06 06:27] jmjobin commented on #40
I tested now and still **not** OK... But strangely the OS rev. is still 5.4.2
What did you fix? Maybe I am not making the correct update!

[2017-04-06 07:54] pan- commented on #40
@jmjobin Could you detail your setup: compiler used, example tested, sniffer used and revision of the example, mbed OS and at shield library ?

The reference to mbed OS has been updated to 5.4.2, previously these examples were using mbed os 5.4.1 and a bug has been fixed in the ST BLUENRG library. This library has been updated as well.

[2017-04-06 08:34] jmjobin commented on #40
@pan Using the on-line compiler and IDE.
Previously the os-mbed was already denominated 5.4.2 please refer to my above message 6 days old. I mentioned this rev already. Surprise that the revision has the same number after your corrections.
My app is inspired from the example mbed-os-example-ble-Thermometer to build my own modified version. Modified basically the "main.cpp" and modified the HealthT

[2017-04-06 09:31] pan- commented on #40
@jmjobin I merged the PR enaling mbed OS 5.4.2 yesterday (#70) did you manually update the mbed-os library in the web IDE ? Did you update the ST shield library in your application ? It is not bundled in mbed OS.

[2017-04-06 10:02] jmjobin commented on #40
@pan. I do not understand you so well sorry... Will try to answer.
When I looked at the mbed-os 6 days ago it mentioned the same rev number as today.
- Right click on mbed-os and ask for revision -> result = the last release is 5.4.2 as 6 days ago.
- Yes I did manually update the mbed-os. I go on the mbed-os and right click "update".
- No I did not update ST shield library, should I do this too?
I

[2017-04-06 10:43] pan- commented on #40
@jmjobin Thanks for your answer.

If you updated mbed os in your project then it makes sense that your revision was mbed OS 5.4.2 but these examples never referenced 5.4.2 until yesterday.

Yes you must update the ST shield library to get the [fix](https://github.com/ARMmbed/ble-x-nucleo-idb0xa1/commit/801921555cc734bc160c4fe6e1111c5b0cfdf140).

I hope it is clear enough.

[2017-04-06 10:45] pan commented on #40
I have been pulled into this ARMmbed project dozens of times but I am not the right person that you want to @. When you want to say something to someone, be careful to be accurate with the github account name. @pan- & @pan are two different accounts.

[2017-04-06 11:29] jmjobin commented on #40
@pan- OK I updated the full example and it worked. I will have to reembed my main.cpp.
Thank you.
Jean-Marc

[2017-04-06 11:30] jmjobin commented on #40
@pan I am so sorry I did not noticed the 2 different "pan". Will be more careful :-)

[2017-04-06 14:17] liuxinbai commented on #40
@pan- worked! Thank you. Would like to know the root cause, beside the modification in BlueNRGDevice::reset you mentioned, what wrong is in previous mbed OS version before 5.4.2?

@jmjobin many thanks for your confirmation together.

Best Regards,
Xinbai

[2017-04-06 14:43] pan- commented on #40
Nothing is wrong in mbed OS 5.4.x but configuration and manipulation of GPIOs on NUCLEO based targets is has been improved and is is now faster than before. As a side effect, it exposed that the reset procedure was not respecting the expected timings.

[2017-04-27 08:21] mgiaco opened #75 "Working with X-NUCLEO-IDB05A1?"
Hi,
I am new to the BLE stuff. I would like to use the STM BLE module for some tests. I found this sample https://developer.mbed.org/teams/ST/code/BLE_HeartRate_IDB0XA1/ but the sample usese the old mbed os?
Is this repository the right starting point for the new mbed-os and BLE.  Is it possible that this examples also work with the X-NUCLEO-IDB05A1 shield?

many thanks
cheers
mathias

[2017-04-27 08:35] jmjobin commented on #75
The sample if I am not wrong gives you a bin. But you can do your updated version going to the On-line mbed compiler and IDE and import the "mbed-os-example-ble-HeartRate".
Here you should have the updated OS. This also use the 0XA1 shield
jean-marc

[2017-04-27 09:07] mgiaco commented on #75
Okay many thanks that was the right hint!
mathias

[2017-04-27 09:07] #75 closed

[2017-04-27 10:48] mgiaco opened #76 "BLE_UART service"
Hi,
I would like to port a custom bootloader which uses UART actually.  So is there any UART Service Example around  like this one here: https://developer.mbed.org/teams/Bluetooth-Low-Energy/code/BLE_UARTConsole/ or here https://developer.mbed.org/teams/Bluetooth-Low-Energy/wiki/UART-access-over-BLE

Sorry I am new to BLE and the new mbed-os, I am always wondering which one is for the old and whic

[2017-04-27 13:53] jmjobin commented on #76
Not sure I understand all your questions and I will try some answers.
Probably someone may correct my answers.
There is no BLE UART service. You can do it but it must be custom. So make your own.
Read BLE specifications... :-)
For the mbed-os, do you mean which example use the old or new os?
I very often ask myself the same question :-D
You can check on the release by right clicking on the "mbed-o

[2017-05-01 15:18] mgiaco commented on #76
Okay many thanks.
Today I tried the example mentioned in this link here https://thejeshgn.com/2016/10/01/uart-over-bluetooth-low-energy/. Now I understand what you mean with your own protocol.
So mbed-os uses this custom Uart Service. So give it a try: First I tried the BLE_HEARTRATE example to figure out everything works fine with my hardware. After that I replace the code of the main with the co

[2017-05-01 15:55] jmjobin commented on #76
Hello, in my opinion, just an opinion, since the UART service is not a service but a custom you have to be sure you match the custom attribute from the nRF UART v2.0.
Maybe the Nordic forum will be able to answer to you. I never tried this yet. :-)
jean-marc

[2017-05-01 17:16] mgiaco commented on #76
Okay so I taught when the Uart Service is part of the code of mbed-os it should work.

[2017-05-01 17:59] jmjobin commented on #76
Well!!! This is a custom service :-) I use Spp with Bluetooth edr for uart. This is standard

[2017-05-02 06:58] mgiaco commented on #76
Okay but Spp is not available in BLE. I read in another post that you are using the NRF52_DK also. Please can you test if the UART Service is working with this HW?

many thanks

[2017-05-02 10:03] jmjobin commented on #76
Yes SPP is EDR (BT 2.0-3.0)
Sorry so far no time to test it :-D As soon as I can I will come back here but I think you will find a solution before. Let us know what you found.
jean-marc

[2017-05-02 13:07] mgiaco commented on #76
okay I will search for that. Is maybe someone else here who can help me a little bit?

[2017-05-05 09:28] mgiaco commented on #76
So it was a failure of mine. Now everything works as expected. Should I add a Pull Request for a UART_SERVICE example?

Here is the modified example based on the old example: https://developer.mbed.org/users/clonephone82/code/mbed-os-example-ble-UartService/
cheers
mathias

[2017-05-05 14:44] jmjobin commented on #76
Excellent, bravo... I do not know what you should do I am just a participant like you :-D

[2017-05-05 18:43] mgiaco commented on #76
:-) so the question was to the community here :-)

[2017-05-05 19:13] jmjobin commented on #76
Of course, sorry! Ahah

[2017-05-08 10:36] pan- commented on #76
@mgiaco Many thanks for sharing your work. It might be interesting to have an UART example. Please, feel free to make a PR.

[2017-05-26 10:48] binary-nerd commented on #40
Hi @pan-

My env : Nucleo F091RC + IDB05A1

I downloaded this project and trying to use BLE_HEARTRATE project

I made the changes suggested for nucleo boards with arduino connectors.
1. override the target with settings
2. Disable LED as a workaround.

[code]
I have built and flashed the bin file but my stm32 profiles application does not show list this profile.

I am following the instructions [h

[2017-05-26 11:46] apalmieriGH commented on #40
@binary-nerd as you can see in the [library page](https://developer.mbed.org/teams/ST/code/X_NUCLEO_IDB0XA1/), the NUCLEO-F091RC is not included in the list of boards requiring the compatibility patch.

[2017-05-29 10:16] binary-nerd commented on #40
@apalmieriGH
I thought it is required for all the nucleo boards.

I removed the patch and checked. Same result. I am not able to see the HeartRate profile listen on the iphone app.

On the library page, it is mentioned
[code]
As i am using IDB05A1, Do i need to solder something?

[2017-05-30 23:16] binary-nerd commented on #40
@pan- @apalmieriGH
First i would like to know if the combination of Nucleo F091RC + IDB05A1 is supported by mbed or not.

If it is supported, according to my understanding, the latest mbed-os without any changes shoul work just fine. Am i correct?

[2017-05-31 08:04] apalmieriGH commented on #40
@binary-nerd
I confirm that the NUCLEO F091RC is supported, no patch is required on the X-NUCLEO-IDB05A1 and the latest [mbed-os-example-ble](https://github.com/ARMmbed/mbed-os-example-ble) work fine once you have updated the mbed_app.json with the "NUCLEO_F091RC" label as you did.

[2017-05-31 13:13] binary-nerd commented on #40
@apalmieriGH

Thank you. So,  I understand IDB0XA1_D13_PATCH patch is not required for F091RC. Please correct me if I understood it wrongly.

Since the patch is not required, I added the following to my json
[code]

### Testing procedure :

1. `mbed compile`
2. `cp ./BUILD/NUCLEO_F091RC/GCC_ARM/BLE_HeartRate.bin /media/mypc/NODE_F091RC/ `

Once the nucleo boots up and the LED starts blinking, I am

[2017-05-31 14:39] apalmieriGH commented on #40
@binary-nerd
Did you update the FW of your X-NUCLEO-IDB05A1 as recommended [here](https://github.com/ARMmbed/ble-x-nucleo-idb0xa1#firmware-update)?

[2017-06-05 13:43] binary-nerd commented on #40
@apalmieriGH
It turned that the problem is with the IDB05A1 i have. With another one, it works just fine.

I tried updating the firmware of the IDB05A1 that was not working. firmware update fails with error code of 3. I will look into it later.

Thanks for assistance.

[2017-06-13 06:39] MaggieMei opened #84 "Online IDE compile error for Beacon"
Error: Cannot open source input file "nrf.h": No such file or directory in "extras/BLE_Thermometer/mbed-os.lib/targets/TARGET_NORDIC/TARGET_NRF5/TARGET_MCU_NRF52832/device/cmsis.h", Line: 21, Col: 18

[2017-06-13 08:34] pan- commented on #84
@MaggieMei That would help with a bit of context. From the path, it doesn't looks like you are compiling Beacon but rather the BLE_Thermometer example.

Could you share with me a link to your project ?

[2017-06-13 08:35] #61 closed

[2017-06-13 08:36] #60 closed

[2017-06-13 08:36] #49 closed

[2017-06-14 16:48] ashok-rao opened #85 "[OoB_5.5-RC2]: nRF52840_DK, ARMCC: Stack error."
Steps:
1. Clone repo, update to RC2 branch.
2. mbed compile -t ARM -m nRF52840_DK
3. Flash BLE_EddystoneService.hex to target.
4. Reset and run. Open a serial terminal connection to target.

Output on console:
[code]

SHA's:
mbed-os-example-ble (fc79579dfd21)
|- BLE_EddystoneService\mbed-os (162f80099d94)
|- BLE_EddystoneService\shields\TARGET_ST_BLUENRG (6670a4495aaf)

**It however works perfectl

[2017-06-15 00:59] c1728p9 commented on #85
Hi @ashok-rao can you test with https://github.com/ARMmbed/mbed-os/pull/4563 and see if it fixes your problem?

[2017-06-15 09:40] pan- commented on #84
@MaggieMei Any update ?

[2017-06-16 06:44] toyowata opened #86 "[OoB_5.5-RC2]: arm_beetle_soc, can not update the URL by app"
BLE_EddystoneService example does not work as expected.

Steps:
1. Clone repo, update to mbed-os-5.5.0-rc2-oob branch.

2. ```cd BLE_EddystoneService``` and ```mbed compile -t ARM -m arm_beetle_soc```
3. Flash ```BLE_EddystoneService.bin``` to target.
4. Reset and run.
5. Start nRF Connect app
6. Scan device and connect to the EDDISTONE CONFIG device
7. Open Data part and write 0x0161726d00 value

[2017-06-16 10:48] pan- commented on #86
@toyowata I cannot reproduce the issue but I'm on it; the beetle board interface firmware doesn't work well on windows 10.

[2017-06-22 09:42] ashok-rao commented on #85
@c1728p9 .. Thanks. Yes, I can confirm that this fix works.. I'm closing this issue now.

@MarceloSalazar, FYI.

[2017-06-22 09:42] #85 closed

[2017-06-27 14:01] noutram opened #91 "Export to Keil"
I just tried the HR example using a ST F401 board IBD05A1 peripheral board.
From the CLI, it seems to work fine which is nice.
When I export to uVision 5 and rebuild it however, (i) it does not work and (ii) I notice the LED is flashing faster.
Any ideas?

[2017-06-28 11:30] MarceloSalazar commented on #86
@pan- is there an updated on this?

[2017-06-28 11:41] pan- commented on #86
@MarceloSalazar Unfortunately, no, I've asked the team handling the beetle board but they have been unresponsive so far.

[2017-06-28 11:43] 0xc0170 commented on #86
cc @mmorenobarm

[2017-06-28 12:17] mmorenobarm commented on #86
cc @abhishek-pandit

[2017-06-28 13:53] apalmieriGH commented on #91
Hi,
me and @pan-  are on the way and investigating on that...

[2017-06-28 15:17] noutram commented on #91
I should add that I am using the same ARM compiler for both CLI and Keil iVision (the version that comes with v5.23)

[2017-07-03 08:45] apalmieriGH commented on #91
Hi,
in the meantime you could try linking this commit for the BlueNRG library:

a6c43a45871b3c4eeafdac4a392f28e5faec98f4

[2017-07-03 08:48] noutram commented on #91
Broken link?

[2017-07-03 08:48] apalmieriGH commented on #91
Should work now

[2017-07-03 09:04] noutram commented on #91
Excellent - I'll give it a try when I get into the office this afternoon.

[2017-07-04 07:10] binary-nerd opened #92 "Are the BLE examples provided here power efficient?"
I wrote my code following the same lines as the examples here.

When tested on a new coin cell battery, in an hour or so, the coin cell battery is completely drained up and the BLE connection becomes unstable.

I would like to know if the code here is power optimized or is there scope for improvement?

The [following post](https://developer.mbed.org/forum/team-63-Bluetooth-Low-Energy-community/top

[2017-07-04 09:32] pan- commented on #92
@binary-nerd The examples are not to blame here, the high power consumption is caused by the OS. Until tickless mode is properly implemented, it will stay that way.

However it is not impossible to tune your application to get the most of your battery. For example, we've worked closely with google to have a power efficient image of an Eddystone beacon ([here](https://github.com/roywant/EddystoneBe

[2017-07-05 10:52] binary-nerd commented on #92
Thank you for the reference @pan-

I will try to model my program following that application.

**BDW, Since the timeline for tickless mode support is not clear, is it recommended to use the ST provided BLE examples directly and then make the necessary changes to them instead of using the mbed framework?**

Also, I see things like configuring GapAdvertisingParameters and other stuff to manage power

[2017-07-05 12:00] pan- commented on #92
It is the same approach as the one in the examples, both use event driven programming. The event loop used is not the same as the one bundled in mbed OS for historical reasons, not technical ones.

The is two approach you can follow if you want to optimize your application for power:
* disable the RTOS if its not needed, a `.mbedignore` file similar to [this one](https://gist.github.com/pan-/e0e9f

[2017-07-06 10:13] noutram commented on #91
Ok, I've now tried this and it seems to be working. Exported to uvision5, rebuild and deployed. I can now read HR measurements.

[2017-07-11 13:15] noutram commented on #91
@apalmieriGH Will there be a notification when this gets merged into the master branch?

[2017-07-11 15:25] apalmieriGH commented on #91
Yes, sure.

[2017-09-23 14:59] MarceloSalazar commented on #86
@abhishek-pandit @mmorenobarm is there any update on this?

[2017-09-23 15:01] MarceloSalazar commented on #84
Can't reproduce - closing.

[2017-09-23 15:01] #84 closed

[2017-10-30 13:00] gabker01 commented on #86
Issue was able to reproduced, fix is created and pull request is submitted: https://github.com/ARMmbed/mbed-os/pull/5400

[2017-11-03 08:55] #86 closed

[2017-11-03 08:55] #37 closed

[2017-12-12 15:12] gggekov opened #121 "nRF51 unresponsive for the BLE_Beacon example"
## What is the problem
The nRF51 board is unresponsive for the `BLE_Beacon` example on the `mbed-os-5.7.0-oob` branch.
The board doesn't print anything on the serial port and the device doesn't appear on the Nordic mobile app. I have this problem with the three compilers

## What have I tried
I monitor the serial port at 9600b/s and at 115200b/s - it doesn't help
I updated the firmware of the boar

[2017-12-12 17:51] MarceloSalazar commented on #121
@pan- could you please have a look?
cc @adbridge

[2017-12-13 10:56] GarySwansonARM commented on #121
This works for me (BLE_LED and BLE_Battery) using the same board that I got from George, and GCC_ARM on the mac.

[2017-12-13 11:21] gggekov commented on #121
I'm still having problems with the BLE_Beacon example on nRF51 board on Windows.
The example worked straight away on nRF52 but on the nRF51 I don't get anything on the serial.

[2017-12-13 14:20] gggekov commented on #121
Thanks to @pan- and @GarySwansonARM  the problem is fixed.
The page of the nRF51 board(https://os.mbed.com/platforms/Nordic-nRF51-DK/) point to an old firmware that doesn't work on Windows10. Using the latest version of DAPLink solved the issue.
The online doc needs to be updated to point to the latest version of DAPLink.

[2017-12-14 15:51] adbridge commented on #121
@AnotherButler Do you know how we get the online doc updated to point to the latest version of DAPLink ?

[2017-12-14 16:41] AnotherButler commented on #121
@mariannecrowder Do you update the content of the platforms page, or is there somewhere we can do this?

[2017-12-14 19:44] AnotherButler commented on #121
@adbridge I understand the PE team maintains these pages. @maclobdell Could you please help us with this?

[2017-12-18 14:18] MarceloSalazar commented on #121
@gggekov could you please confirm exactly which version is known to work ok?

[2017-12-18 14:30] gggekov commented on #121
I used the DAPLink Q3'17 - build v0244, the current latest release of DAPLink.

[2017-12-18 14:39] MarceloSalazar commented on #121
IOTPART-4233

[2017-12-24 17:34] DuyTrandeLion opened #128 "Error: Cannot open source input file "ble/BLE.h": No such file or directory in "source/main.cpp", Line: 19, Col: 22"
I tried importing the new BLE example using the mbed online compiler but I received an error:
Error: Cannot open source input file "ble/BLE.h": No such file or directory in "source/main.cpp", Line: 19, Col: 22

Is this because of the compiler? I change the target into nRF52-DK and it worked fine. Thank you

[2018-01-05 07:28] fredtsai opened #131 "My mobile phone can not connect to nRF52-DK"
Hi

Test APP is nRF Connect for Mobile  (https://play.google.com/store/apps/details?id=no.nordicsemi.android.mcp&hl=zh_TW)

EVB: Nordic nRF52-DK (https://os.mbed.com/platforms/Nordic-nRF52-DK/)

Use the mbed compiler

step:
1. BLE LED image(nrf52-DK mbed source code) burn into the nrf52-DK
2. download nRF Connect app
3. Search device -> can search for LED
4. Click CONNECT

result:
CONNECTING ... -

[2018-01-05 16:22] 0xc0170 commented on #45
@pan- @paul-szczepanek-arm I referenced this in mbed OS issue, this got our attention this week as these examples cant be build if a component or target (as reported above) includes mbedtls that is part of mbed OS.

I can't find the reason in the git log (almost no commit message ).

[2018-01-08 08:18] pan- commented on #128
@DuyTrandeLion Could you indicate which target and compiler yield the error ?

[2018-01-08 08:21] pan- commented on #45
@0xc0170 The .mbedignore file is present for historical reasons, we can remove it. However it doesn't sounds healthy that the target HAL depends on a feature.

[2018-01-08 08:32] 0xc0170 commented on #45
The latest master - nuvoton have crypto in mbedtls folder, not as previously was in target (see https://github.com/ARMmbed/mbed-os/tree/master/targets/TARGET_NUVOTON/TARGET_NUC472).

This should fix this issue! Thanks

[2018-01-31 14:03] rhenancfdn commented on #131
Same problem here, with NINA-B1

[2018-01-31 16:39] pan- commented on #131
@rhenancfdn Could you post the logs from nrfConnect ?

[2018-01-31 16:45] rhenancfdn commented on #131
@pan- I don't know how but I open the S-center after burn the .hex (with nRFgo), I chose the COM port and the device it's ok

[2018-03-05 09:38] jrobeson commented on #92
now that tickless is here, how does the advice change?

[2018-03-07 10:16] pan- commented on #92
@jrobeson I believe examples or configuration should not be changed and advices above should not be followed anymore.

[2018-03-08 13:11] scartmell-arm opened #138 "OOB: Bluetooth device fails to connect to running examples (NRF52_DK)"
Trying to run example applications `BLE_LED` and `BLE_LEDBlinker` for 5.8 OOB testing using `mbed-os-5.8.0-oob` branch with suggested mbed-os branch `https://github.com/ARMmbed/mbed-os/#d1ba1089a31ffab6b6a8887092b3d1fcc7c23b72`

Connecting to the serial port of the device shows the correct output (BLE_LED in this case):

[code]

Connecting to the running device fails on NRF52_DK, however the same

[2018-03-08 13:26] scartmell-arm commented on #138
Using the default commit used in the example works correctly:
[https://github.com/ARMmbed/mbed-os/#6ff720302e43c7a420232d134e786811cc7281a9](https://github.com/ARMmbed/mbed-os/#6ff720302e43c7a420232d134e786811cc7281a9)

However, when changing to the commit suggested in the OOB form, the example fails to work:
[https://github.com/ARMmbed/mbed-os/#6ff720302e43c7a420232d134e786811cc7281a9](https://gi

[2018-03-08 17:59] donatieng commented on #138
Thanks for reporting @scartmell-arm.

Seems like phones that support it ask for a PHY upgrade that we're not handling properly. Fix is on its way.

[2018-03-08 20:19] donatieng commented on #138
Should be fixed by this pull request: [Support for nRF52x BLE 4.2 and 5 events #6308](https://github.com/ARMmbed/mbed-os/pull/6308)

[2018-03-20 22:46] yennster opened #140 "[Request] Example using the securityManager"
The examples in this repo take advantage of most of the features provided by the BLE API. However, I don't see any that are using the [`securityManager()`](https://os.mbed.com/docs/v5.7/mbed-os-api-doxy/class_security_manager.html) in a similar fashion as in the old BLE teams example here (https://os.mbed.com/teams/Bluetooth-Low-Energy/code/BLE_SecureHeartRate/file/e8dfe1c97c71/main.cpp/).

Is the

[2018-03-21 12:56] Blue7089 commented on #47
Can please tell me briefly where and how to create this file. I am completely beginner.Thanks in advance

[2018-03-22 18:29] donatieng commented on #140
Hi @yennster, it's addressed in #136 - should be merged very soon!

[2018-03-22 19:41] yennster commented on #140
@donatieng Oh awesome, I didn't see that! Thanks!

[2018-03-31 23:43] RogerCenson commented on #138
Hello!
Was it fixed ? I am having the same problem here.

[2018-04-03 20:15] #140 closed

[2018-04-05 06:41] ShojiMiyanishi opened #143 "Could not compile on target NRF52832, When apply debug profile. mbed-os5.8.1"
When I apply debug.json only fail. release and develop profile are good.
Toolchain is GCC_ARM.
That is gcc-arm-none-eabi-7-2017-q4-major.
**I tried.**
_cd BLE_LED
mbed compile  --target RBLAB_BLENANO2 --toolchain GCC_ARM --profile ./mbed-os/tools/profiles/debug.json_

**result is.**
[Error] sleep.c@74,1: unrecognizable insn:
[ERROR] ./mbed-os/targets/TARGET_NORDIC/TARGET_NRF5/sleep.c: In function

[2018-04-05 06:46] ShojiMiyanishi commented on #143
gcc-arm-none-eabi-6-2017-q2-update can compile.

[2018-04-05 07:33] ShojiMiyanishi commented on #143
Object compiled by gcc-arm-none-eabi-6-2017-q2-update can not exec.

[2018-04-05 07:53] #143 closed

[2018-05-31 08:35] pan- commented on #138
I'm closing this as this as been fixed in https://github.com/ARMmbed/mbed-os/pull/6308

[2018-05-31 08:35] #138 closed

[2018-06-01 08:13] pan- commented on #128
Closing this; @DuyTrandeLion feel free to reopen if you continue to have troubles and/or wantsto provide more details.

[2018-06-01 08:13] #128 closed

[2018-06-01 08:14] pan- commented on #91
Closing this as the issue as been resolved.

[2018-06-01 08:14] #91 closed

[2018-06-01 08:15] #76 closed

[2018-06-01 08:16] pan- commented on #131
Closing this as the original issue has been fixed in mbed os.

[2018-06-01 08:16] #131 closed

[2018-06-01 11:50] dhwalters423 opened #153 "BLE Frequent disconnects and instability with SPBTLE-RF0"
Reported by @alphatronicstva - Mbed Cloud customer.
**Internal Ref:** IOTPAN-60

**Background Information**
Mbed OS 5.7.5

**Description**
Custom designed hardware, based on the STM32 F429ZI, with an SPBTLE-RF0 module soldered directly on the board. They have successfully ported this to work with their board.

Using the BLE Heart Rate monitoring application: https://github.com/ARMmbed/mbed-os-exam

[2018-06-01 12:16] pan- commented on #153
@dhwalters423 This should be reported [here](https://github.com/ARMmbed/ble-x-nucleo-idb0xa1/issues). The ST driver do not lives in mbed os.

[2018-06-04 15:11] #153 closed

[2018-06-06 15:53] ciarmcom commented on #121
ARM Internal Ref: MBOTRIAGE-488

[2018-06-06 15:53] ciarmcom commented on #92
ARM Internal Ref: MBOTRIAGE-489

[2018-06-06 15:53] ciarmcom commented on #69
ARM Internal Ref: MBOTRIAGE-490

[2018-06-06 15:53] ciarmcom commented on #53
ARM Internal Ref: MBOTRIAGE-491

[2018-06-06 15:53] ciarmcom commented on #45
ARM Internal Ref: MBOTRIAGE-492

[2018-06-06 15:54] ciarmcom commented on #40
ARM Internal Ref: MBOTRIAGE-493

[2018-06-06 15:54] ciarmcom commented on #39
ARM Internal Ref: MBOTRIAGE-494

[2018-06-06 15:54] ciarmcom commented on #7
ARM Internal Ref: MBOTRIAGE-495

[2018-06-07 08:47] pan- commented on #7
As indicated in the documentation the iBeacon class mimic an iBeacon; users needs a licence from Apple if they want a real iBeacon.

[2018-06-07 08:47] #7 closed

[2018-06-08 00:42] mcprakash opened #157 "NRF52 DK does not connect"
Hi
 The NRF 52 DK (PCA 10040) s132 board does not work using ARM Mbed environment. The BLE_Battery_Level example sets the device to advertise as BATTERY_LEVEL but when I try to connect to it using my Samsung Galaxy 8+, it just disconnects and the device is not discover-able again.  The device works with KEIL examples with latest SDK 15/16. The ARM Mbed uses SDK 11 and firmware 2.0 whereas the late

[2018-06-08 03:51] ciarmcom commented on #157
ARM Internal Ref: MBOTRIAGE-603

[2018-06-08 16:15] donatieng commented on #157
Hi @mcprakash - which version of mbed OS and which compiler are you using? This looks like #138 fixed by #6308.

[2018-06-08 20:39] mcprakash commented on #157
Hi @donatieng
 I am using the latest mbed-os (from mbed init in the examples folder). I checked the commit to be #367dbdf5145f4d6aa3e483c147fe7bda1ce23a36 (mbed-os-5.8).
 Will check the commits on the link you have shared.

Thanks
Chandra

[2018-06-11 09:38] donatieng commented on #45
Closing this issue as this would have been resolved in mbed OS 5.8.

[2018-06-11 09:38] #45 closed

[2018-06-11 09:40] #92 closed

[2018-06-11 09:41] #121 closed

[2018-06-12 10:37] pan- commented on #157
Hi @mcprakash

Could you indicate which compiler you're using ?

For your other request, in mbed os 5.9 (that will be released this month - it is on master) Nordic SDK14 will be used. Update may be made SDK16 at a latter date.

[2018-06-12 12:42] 0xc0170 commented on #40
This issue can be closed based on the previous comments.

[2018-06-12 12:42] #40 closed

[2018-06-12 13:34] donatieng commented on #69
Hi @tbondar  - which board and mbed OS version are you using?

[2018-06-12 21:04] mcprakash commented on #157
Hi @pan-
 I am using mbed-cli with GCC_ARM (latest version). I will try mbed-os-5.9 in the next day and get back to you.

Best
Chandra

[2018-06-13 14:58] pan- commented on #157
@mcprakash @7211 may fix your issue; could you try it and let us know ?

[2018-06-13 22:42] mcprakash commented on #157
Hi @pan-
 I tried mbed-os-5.9 and still getting the connection loss issue. It connects 1 time, don't see any updates on the phone and the device disappears (with reboot back to start).
 Will try your fix and will report in a day.
Best
Chandra

[2018-06-14 08:11] mcprakash commented on #157
Hi @pan-
 I tried you fix and still it does not connect to my phone. Will try with a different phone and see if it is a problem on the android side.

Best
Chandra

[2018-06-14 15:01] donatieng commented on #53
Thanks for pointing this out @jmjobin, feel free to open a pull request with the change

[2018-06-21 15:22] cederom opened #161 "Request for BLE UART demo"
Hello, it would be great to have also BLE UART demo here. There are some demos on the website but they does not build in Online Compiler for nRF52_DK..

[2018-06-21 15:51] ciarmcom commented on #161
ARM Internal Ref: MBOTRIAGE-842

[2018-06-21 18:10] cederom commented on #161
Thank you :-)

[2018-06-22 03:42] atkodev opened #162 "Support UBLOX-EVK-ODIN-W2?"
Hello.

I develop ble firmware with ublox's `odin-w2`. It was successful with compile. But `ODIN-W2` print "Please provide an Implementation for mbed ble" on serial instead of work.

Can I get `ODIN-W2`'s ble implementation?

Thank you.

[2018-06-22 03:51] ciarmcom commented on #162
ARM Internal Ref: MBOTRIAGE-852

[2018-06-22 08:59] pan- commented on #162
You should raise an issue in the mbed-os repository: https://github.com/ARMmbed/mbed-os

[2018-06-22 08:59] #162 closed

[2018-06-26 09:04] donatieng commented on #161
Hi @cederom, BLE UART is not a standardised profile - Nordic has an implementation but is it vendor-specific

[2018-06-26 15:08] cederom commented on #161
It took me some time to figure things out and notice changes in the API.. having that demo would save me some days.. still some problems to solve.. when I have things working I will share it here if you like to save you some time @donatieng  :-) :-)

[2018-07-02 18:05] yennster opened #164 "Security Manager example questions/inconsistencies"
Coming from a developer perspective I have a few questions:

1. Why isn't the security manager example named: "BLE_SecurityManager" to be consistent with the folder naming convention of the other BLE examples?
1. In the context of the application, what is the "peripheral" and what is the "central"? Clarification in the [README](https://github.com/ARMmbed/mbed-os-example-ble/blob/master/BLE_SM/READ

[2018-07-02 19:50] ciarmcom commented on #164
ARM Internal Ref: MBOTRIAGE-1031

[2018-07-03 09:36] pan- commented on #164
I'm not sure to completely understand how naming is inconsistent. We do use abbreviations to name Bluetooth protocols: BLE_GAP is not named BLE_GenericAccessProtocol, BLE_GattClient is not named BLE_GenericAttributeProtocolClient.

I suppose we can clarify what roles are.

That's C/C++ syntax to define a scope. So that the `SMDevice*` defined in the scope gets destroyed after execution.

I think i

[2018-07-03 16:31] yennster commented on #164
@pan- Cool, thanks for answering my questions!

I still feel like the README should have some sort of indication what a successful connection and disconnection look like, maybe just a copy/paste from the terminal output?

[2018-07-25 09:38] donatieng commented on #69
Closing as inactive, @tbondar feel free to reopen.

[2018-07-25 09:38] #69 closed

[2018-08-01 22:17] edablan commented on #39
Is this valid for the UBLOX EVK-NINA-B1? It does not use the CMSIS-DAP, but uses a built in J-Link debugger. Also noticing issues in debug.

[2018-08-10 22:07] Navis-Raven opened #169 "Does not compile with nRF52-DK"
When selecting BLE_Button for nRF52-DK, the programm does not compile, and the hardware included is not the good one (ours is nRF52832 and not nRF51822)

![image](https://user-images.githubusercontent.com/15887222/43983266-ff67c64c-9cf9-11e8-92c4-d7e4c9ce9325.png)

[2018-08-10 23:50] ciarmcom commented on #169
ARM Internal Ref: MBOTRIAGE-1513

[2018-08-13 16:02] pan- commented on #169
Are you using https://os.mbed.com/teams/mbed-os-examples/code/mbed-os-example-ble-Button/ ?
That is the version we maintain and that is synced with this repository.

[2018-08-13 16:06] Navis-Raven commented on #169
Select the nRF52-DK as a hardware one Mbed compiler, then new, at just after the BLE_BUTTON is selected automatically, and this is the software which has a problem. Maybe this is not the version you maintain, I don't know

[2018-08-13 16:43] pan- commented on #169
I've just tried the version I linked; it compiles without trouble. Please try it; that is the only version we maintain.

[2018-08-13 17:17] Navis-Raven commented on #169
So this is not the problematic version.

[2018-08-13 17:18] Navis-Raven commented on #169
If the other version is not maintained, so you have to remove it from the default example list and replace it by this one.

[2018-08-13 20:54] Navis-Raven opened #170 "dead link on the redme file"
the highlighted app link on the readme file is dead

![image](https://user-images.githubusercontent.com/15887222/44057483-a2e0dea0-9f4b-11e8-88c8-1c581d081d40.png)

configuration:

![image](https://user-images.githubusercontent.com/15887222/44057561-db6f9040-9f4b-11e8-88ad-9afb7f638126.png)

[2018-08-13 21:01] Navis-Raven commented on #170
![image](https://user-images.githubusercontent.com/15887222/44057895-c316c9f4-9f4c-11e8-8040-90aef8711334.png)

[2018-08-13 23:50] ciarmcom commented on #170
ARM Internal Ref: MBOTRIAGE-1520

[2018-09-05 19:50] bridadan opened #175 "[OOB 5.10] Issue building BLE_BatteryLevel with online compiler"
### Steps taken

Using production compiler and partner beta, the following issue is reproducible:

1. Import **this repository** (not the mercurial mirror on os.mbed.com) into online compiler
2. Checkout to branch `mbed-os-5.10.0-oob`
3. Delete all directories except `BLE_BatteryLevel`
4. Select target as NRF52_DK
5. Click compile button

I received the following error:

It may be helpful to note

[2018-09-05 19:50] ciarmcom commented on #175
ARM Internal Ref: MBOTRIAGE-1589

[2018-09-06 04:21] soleilplanet opened #176 "[OOB 5.10] Issue building BLE_SM with online compiler"
### Steps taken

1.     Import https://github.com/ARMmbed/mbed-os-example-ble into online compiler
2.     Checkout to branch mbed-os-5.10.0-oob
3.     Delete all directories except BLE_SM
4.     Select target as NRF52_DK
5.     Click compile button

The following error is observed:
Error: Cannot open source input file "nrf_error.h": No such file or directory in "extras/BLE_SM/mbed-os.lib/targets/T

[2018-09-06 07:50] ciarmcom commented on #176
ARM Internal Ref: MBOTRIAGE-1594

[2018-09-06 10:38] pan- commented on #175
I've tried to compile the project locally and it seems to work just fine.
Do you know how the shenanigans to compile in the online compiler impact sources ?

One solution would be to have a special OOB organisation on developer.mbed.org that host projects on OOB branches. I suppose the synchronization script can be useful in that task.

[2018-09-06 10:39] pan- commented on #176
It works locally, I think you should report that issue to the web compiler team.

[2018-09-06 13:49] soleilplanet opened #177 "[OOB 5.10] API documentation in os.mbed.com does not render correctly in Microsoft Edge"
### Steps Taken
1. visit https://os-doc-builder.test.mbed.com/docs/development/apis/bluetooth.html with Microsoft Edge
2. all pages reference to wrong pages
    e.g. BLE class reference -> pointed to index.html
    e.g. GAP -> pointed to network-socket.html
    e.g. iBeacon -> points to example ble heart rate monitor's page

However, everything runs well in Chrome.

[2018-09-06 14:08] cmonr commented on #177
@soleilplanet Do you mind attaching images? I tried to reproduce locally and didn't find any issues across Firefox, Chrome, and Edge. (Browser versions and OS version would help in reproducing the issue)

[2018-09-06 19:49] bridadan commented on #175
@pan- It works locally, its specifically an issue with something in the online compiler.

@theotherjimmy based on the error above do you have any tips to try/are you aware of any existing issues?

[2018-09-06 19:50] ciarmcom commented on #177
ARM Internal Ref: MBOTRIAGE-1599

[2018-09-11 12:35] JanneKiiskila opened #179 "Health thermometer profile links broken"
Link to:

https://developer.bluetooth.org/gatt/services/Pages/ServiceViewer.aspx?u=org.bluetooth.service.health_thermometer.xml

does not work - reference is in: https://github.com/ARMmbed/mbed-os-example-ble/blob/master/BLE_Thermometer/readme.md#thermometer

[2018-09-11 12:36] JanneKiiskila commented on #179
Working link (now at least) - https://www.bluetooth.com/specifications/gatt/viewer?attributeXmlFile=org.bluetooth.service.health_thermometer.xml&u=org.bluetooth.service.health_thermometer.xml

[2018-09-11 12:37] JanneKiiskila commented on #179
https://developer.bluetooth.org/gatt/characteristics/Pages/CharacteristicViewer.aspx?u=org.bluetooth.characteristic.temperature_type.xml is broken, too.

[2018-09-11 12:37] JanneKiiskila commented on #179
Actually, all bluetooth.org links are down...

[2018-09-11 12:41] JanneKiiskila opened #180 "Deprecated APIs used in thermometer example"
BLE_Thermostat example is using deprecated APIs.

[code]

Example should use only recommended APIs.

[2018-09-11 12:50] pan- commented on #179
The only one that doesn't works for me is https://developer.bluetooth.org/gatt/profiles/Pages/ProfileViewer.aspx?u=org.bluetooth.profile.health_thermometer.xml . Others looks fine.

[2018-09-11 15:37] pan- commented on #177
I'm closing this as references looks fine (if they are not it should be reported to https://github.com/ARMmbed/mbed-os-5-docs).
Rendering on edge is fine too; if not, please report to https://github.com/ARMmbed/os.mbed.com .

[2018-09-11 15:38] #177 closed

[2018-09-11 15:50] ciarmcom commented on #180
ARM Internal Ref: MBOTRIAGE-1629

[2018-09-11 15:50] ciarmcom commented on #179
ARM Internal Ref: MBOTRIAGE-1630

[2018-09-12 14:43] JanneKiiskila opened #181 "nRF Master Control should be nRF Connect for Mobile"
Seems Nordic has changed the application name for Android (visible at least in the thermometer example README.md).

[2018-09-12 15:50] ciarmcom commented on #181
ARM Internal Ref: MBOTRIAGE-1639

[2018-09-13 13:30] MarceloSalazar commented on #176
Opening to keep track of issues

[2018-09-13 13:30] MarceloSalazar commented on #175
Opening to keep track of issues

[2018-09-13 14:47] pan- commented on #175
@MarceloSalazar  To keep track of issue, that would be better to open it in the right place.
That's not useful here and it won't be fixed by us.

[2018-09-13 14:51] theotherjimmy commented on #176
@MarceloSalazar We don't need 5 issues to keep track of one bug.

[2018-09-13 14:51] #176 closed

[2018-09-13 14:52] theotherjimmy commented on #176
Duplicate of #175

[2018-09-19 03:36] soleilplanet commented on #175
original error not seen, but new error message observed:
Error: #error directive: [NOT_SUPPORTED] No network configuration found for this target. in "extras/BLE_SM/mbed-os.lib/TEST_APPS/device/socket_app/cmd_ifconfig.cpp", Line: 27, Col: 3
Both BLE_SM and BLE_BatteryLevel failed with the same error message.

[2018-09-26 07:33] XiangcaiHuang opened #182 "How to use K64 board with ST shield(X-NUCLEO-IDB05A1)"
Following the main README:
[code]

Download the bin file to K64F, but encounter a runtime error when it run to `BLE &ble = BLE::Instance();`:
[code]

I have found the file, BlueNrgHCIDriver.cpp had not been compiled. Can you tell me how to solve it?

[2018-09-26 08:06] pan- commented on #182
@XiangcaiHuang It is detailed in the [readme](https://github.com/ARMmbed/mbed-os-example-ble#using-st-nucleo-shield-on-other-targets). If an [hardware modification](https://os.mbed.com/teams/ST/code/X_NUCLEO_IDB0XA1/) is necessary; apply it.

[2018-09-26 10:17] ciarmcom commented on #182
ARM Internal Ref: MBOTRIAGE-1717

[2018-09-26 10:30] 0xc0170 commented on #182
@XiangcaiHuang Does readme has all to answer your question?

[2018-09-29 01:58] XiangcaiHuang commented on #182
@pan-
Hi, Can you tell me how to apply the hardware modification?

[2018-09-29 03:51] XiangcaiHuang commented on #182
@0xc0170
I don't know how to apply the hardware modification, there is no detailed description.

[2018-10-01 15:05] donatieng commented on #182
@XiangcaiHuang Links shared by @pan- should help you with both of these.

[2018-10-02 16:12] #161 closed

[2018-10-11 03:32] XiangcaiHuang commented on #182
Hi, I have made a hardware switch by moving zero resistor R4 to R6 so that D13 is now the SPI clock. But it show me the same runtime error.

[2018-10-18 22:21] hyperdga opened #185 "Documentation link broken"
"To build these examples, you need to have a computer with software installed as described here." <--link is broken.

[2018-10-23 16:28] ciarmcom commented on #185
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-83*

[2018-10-30 12:58] elm3 commented on #185
Thank you for bringing this to our attention.  It should now be fixed.

[2018-10-30 21:12] #185 closed

[2018-11-07 16:20] #170 closed

[2018-11-07 16:21] #179 closed

[2018-11-13 17:47] naveenkaje commented on #175
I have seen similar error message when I have a typo in my mbed_app.json file

[code]
instead of
[code]
produces

[code]
Just another place to check.

[2018-12-05 15:19] naveenkaje opened #198 "No "Connect" option: BLE HearRate Example"
I am following the steps described in the README.md on NRF52840_DK. The Heartrate monitor is seen during scanning. However, it does not give a "Connect" Option.
See screenshot attached.

I also tried altering the adv_pameters ble::adevertising_type_t::CONNECTABLE_UNDIRECTED to adv_pameters ble::adevertising_type_t::CONNECTABLE_DIRECTED. That did not help.

![screenshot_20181204-131052](https://use

[2018-12-05 15:20] naveenkaje opened #199 "NRF52_DK: HeartRate Example: MbedOS Assertion Failed"
I used mbed-os-5.11.0-oob branch of mbed-os-example-ble-HeartRate with mbed-os (mbed-os-5.11.0-rc1)
Error printed from NRFCordioHCIDriver.cpp
[code]

Built with the following command using GCC toolchain

[code]

[2018-12-05 16:19] ciarmcom commented on #199
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-261*

[2018-12-05 16:19] ciarmcom commented on #198
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-262*

[2018-12-06 10:18] donatieng commented on #199
Thanks @naveenkaje - fix is here:
https://github.com/ARMmbed/mbed-os/pull/8981

[2018-12-06 13:47] donatieng opened #200 "Hardfault during re-initialization of Cordio stack/link-layer"
Issue originally raised by @ryannowarm: https://github.com/MarceloSalazar/mbed-os-example-ble-GAP/issues/2

[code]

[2018-12-06 18:30] donatieng commented on #198
Should be fixed in RC2 by https://github.com/ARMmbed/mbed-os/pull/8884, will confirm

[2018-12-06 18:43] pan- commented on #198
The fix is actually here: https://github.com/pan-/mbed/commit/0543442cc315b1d25c674b309230753fd99e1f6a .
We gathering other fixes in that branch and will submit it to Mbed-os shortly.

[2018-12-06 21:13] ciarmcom commented on #200
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-272*

[2018-12-07 12:33] donatieng commented on #175
Closing as it's related to the online compiler - please raise an issue here if you still see it: https://github.com/ARMmbed/mbed-os/issues

[2018-12-07 12:33] #175 closed

[2018-12-10 16:36] #198 closed

[2018-12-12 03:14] soramame21 opened #201 "NRF52840_DK: HeartRate Example: Compiling failed"
I got a compilation error for NRF52840_DK when running OOB test with following steps.

[code]

[2018-12-12 03:38] cmonr commented on #201
@ARMmbed/mbed-os-pan Fyi.

@soramame21 When RC3 comes out, (a couple of hours from now), could you recheck to make sure this is an issue?

[2018-12-12 03:41] soramame21 commented on #201
@cmonr Thanks for such quick comment. Yes, I'd like to recheck with RC3.

[2018-12-12 03:45] cmonr commented on #201
Keep an eye on this PR: https://github.com/ARMmbed/mbed-os/pull/9064

Once it's in, PRs to example repos (including this one) will be opened to update the mbed-os.lib. Once that's merged, you can retest.You could also test right now by entering into the mbed-os repo in the

[2018-12-12 03:45] soramame21 opened #202 "NRF52840_DK: GAP Example: Compiling failed"
I got a compilation error for NRF52840_DK with following steps.

[code]

[2018-12-12 06:36] ciarmcom commented on #202
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-304*

[2018-12-12 06:36] ciarmcom commented on #201
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-305*

[2018-12-12 11:06] pan- commented on #201
For a start do not use Marcelo's repo. It was expected it wouldn't be synced and it is not ...
Between RC1 and RC2 we applied API changes in mbed OS that were back ported to the example repo after the release of RC2.

[2018-12-12 11:07] pan- commented on #202
same issue as #201

[2018-12-13 02:34] #202 closed

[2018-12-13 15:58] adbridge commented on #199
@donatieng can we close this then ?

[2018-12-14 07:01] soramame21 commented on #201
@pan- @cmonr Which repo should I test? the marcelo's repo has been updated?

[2018-12-14 14:36] paul-szczepanek-arm opened #205 "NRF52840_DK: HeartRate Example: Hardfault when compiled with IAR in release"
Hardfaults after connecting with your phone and discovering services. Only happens if you use the release profile on IAR. Hardfault happens in gatt when trying to obtain CCCDs.

[2018-12-14 14:53] cmonr commented on #201
@soramame21 I would not suggest using @MarceloSalazar's fork, as all of the fixes should be landing back in this repo.

[2018-12-14 16:15] paul-szczepanek-arm commented on #205
uint16_t AttsCccGet(dmConnId_t connId, uint8_t idx)
gets called with an invalid connId causing the crash

[2018-12-15 20:47] pan- commented on #205
Is it fixed with https://github.com/ARMmbed/mbed-os/pull/8884 ?

[2018-12-17 13:40] donatieng commented on #205
I can confirm this is fixed by
https://github.com/ARMmbed/mbed-os/pull/8884

Users of the 5.11.0 release can cherry-pick these commits before it lands in 5.11.1.

[2018-12-17 14:00] donatieng commented on #199
Resolved, closing

[2018-12-17 14:00] #199 closed

[2018-12-17 14:01] donatieng commented on #201
Closing as it was fixed and validated on our end, feel free to re-open if not

[2018-12-17 14:01] #201 closed

[2018-12-17 14:05] donatieng commented on #182
@XiangcaiHuang you need to apply the configuration suggested in the README file - this would look like:
[code]

Please re-open if that does not resolve this.

[2018-12-17 14:05] #182 closed

[2018-12-17 14:06] donatieng commented on #205
Actually, leaving it open till 5.11.1 lands

[2018-12-19 11:33] #157 closed

[2019-01-09 10:36] #205 closed

[2019-01-14 04:12] zhanglongxia opened #210 "The link of LightBlue in readme.md can't be opened"

[2019-01-14 06:47] ciarmcom commented on #210
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-420*

[2019-01-14 20:12] TacoGrandeTX commented on #210
@zhanglongxia What page has the bad link? The main readme.md doesn't have a link to LightBlue and the links in the individual example readme.md files seem okay (i.e., https://github.com/ARMmbed/mbed-os-example-ble/blob/master/BLE_GAP/README.md).

[2019-01-15 01:46] zhanglongxia commented on #210
I'm in China. The link may be blocked by the gateway. After I open my VPN, the link to LightBlue in BLE_GAP/README.md can be opened now.

[2019-01-15 13:53] KyleHunter opened #211 "BLE_GattServer HardFault using BlueNRG and F401RE"
Upon connecting to the server with a phone, MbedOS crashes when using the BLE_GattServer example:

Ble process started.
Ble instance initialized
Advertising started.
Adding demo service
clock service registered
service handle: 11
.hour characteristic value handle 13
.minute characteristic value handle 16
.second characteristic value handle 19
Connected.

++ MbedOS Fault Handler ++

FaultType: Hard

[2019-01-15 14:23] pan- commented on #211
Thanks for your report @KyleHunter . Could you provide the following informations:
* What version of mbed OS do you use ?
* What version of examples do you use ?
* What compiler do you use ?
* What compilation profile do you use ?
* Which target do you use ?

[2019-01-15 14:31] KyleHunter commented on #211
What version of mbed OS do you use ? Revision 5345:c966348
What version of examples do you use ? Latest from github
What compiler do you use ? Online mbed
What compilation profile do you use ? Huh? Just compile from online
Which target do you use ? F401RE with a IDB05A1 BlueNRG daughterboard

[2019-01-15 16:20] TacoGrandeTX commented on #210
@zhanglongxia Very good - glad that you can access the link.  @0xc0170 Could you please close this?

[2019-01-15 16:20] #210 closed

[2019-01-15 16:47] ciarmcom commented on #211
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-518*

[2019-01-16 14:01] KyleHunter commented on #211
@ciarmcom Huh? That link is broken

[2019-01-22 08:23] desmond-blue opened #213 "BLE_GAP fatal error with CORDIO"
Mbed OS Version: 5.11.1

Running BLE_GAP example on NRF52840_DK, with configuring FEATURE_BLE using Cordio, after the end of first advertising test duration, the application has a fatal error.

mbed_app.json
[code]

error info
[code]

[2019-01-22 13:14] ciarmcom commented on #213
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-778*

[2019-01-28 06:38] desmond-blue commented on #213
The issue is not happened in the latest example.

[2019-01-28 06:38] #213 closed

[2019-01-28 07:16] desmond-blue opened #215 "BLE_GAPButton: advertising service data is not updated"
The advertising service data isn't updated by `update_button_payload()`, which updates the data of `_adv_data_builder`, but GAP isnt' aware of the change.

[2019-01-28 12:44] ciarmcom commented on #215
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-804*

[2019-02-14 16:54] ConradBraam commented on #169
![two-projects](https://user-images.githubusercontent.com/41382020/52801487-ddae3800-3075-11e9-9ee0-1ea07af91996.PNG)
Hi Navis-Raven , I managed to reproduce. I see that the "new project" wizard is importing a project with the same name which is MBED Version 2. You do not see the same projects available here, because the wizard is picking up ones the vendor/target originally added at the time.
We

[2019-02-15 10:34] Navis-Raven commented on #169
@ConradBraam hi, thanks for your answer, but I cannot make a test anymore since à I returned back the nRF52-DK board to it's owner since September 2018.

However, what I point here is that it has to work from the beginning without anymore else configuration. So the Arm Mbed Compiler has te edit json file and all configuration files in order to generate the Keil project without any additionnal conf

[2019-02-15 11:10] ConradBraam commented on #169
No problem about the NRF52. Your main issue was compile-fail, for compiling code no longer in support. So I have asked web team to fill the examples list with all the new mbed5 examples instead :-) (Should happen early next week.) That should prevent the original issue - but not your JSON and Keil export issue.

I think we need to remember that the JSON editing is a larger problem because it requi

[2019-02-15 15:48] Navis-Raven commented on #169
@ConradBraam  if facts I've since then, I've uninstalled Keil and abandonned this editor, and I switched to VSCode with PlatformIO plugin, it install and configure all you want with code example for more than... 500 boards (not only ARM based).

The good thing is tha PlatformIO is open source, I don't know but maybe you can find your answer of how generating some config file for these boards...

"

[2019-02-18 09:47] ConradBraam commented on #169
Just want to correct something, the new mbed studio in alpha currently is not Eclipse based, it's java, but one of the new frameworks which allow running in browser and offline all in one familiar app. It should also be making OpenOCD debug setup painless. About 10 years ago I worked with a bloke who only coded in a plain text editor, he had systemized and memorized all the names he needed to and

[2019-02-18 13:00] Navis-Raven commented on #169
"is not Eclipse based, it's java"
Eclipse is itself based on Java.

But  it seems that you're right, since there is some updates
![image](https://user-images.githubusercontent.com/15887222/52952623-69310d00-3385-11e9-9e9d-23b559b154c1.png)

[2019-02-18 13:04] Navis-Raven commented on #169
I don't know about CLion but now I've found a very good IDE with very good plugin which facilitates all thinggs, and it is PlatformIO

[2019-02-18 13:08] Navis-Raven commented on #169
There is an arm mbed extension for vscode but I think not as good as PlatformIO

![image](https://user-images.githubusercontent.com/15887222/52953025-97631c80-3386-11e9-817b-de9bd957e70c.png)

[2019-03-21 10:28] bestony opened #224 "why some example don't have destruct function?"
The Example `BLE_BatteyLevel` didn't have the  destruct function.

https://github.com/ARMmbed/mbed-os-example-ble/blob/5f4cead86f34900a99096070b0f5a07ea8a9e11e/BLE_BatteryLevel/source/main.cpp#L31-L50

same as `BLE_Beacon`,`BLE_Button`.

The BLE_GAP has destruct function.

https://github.com/ARMmbed/mbed-os-example-ble/blob/5f4cead86f34900a99096070b0f5a07ea8a9e11e/BLE_GAP/source/main.cpp#L99-L120

[2019-03-21 11:27] pan- commented on #224
@bestony I believe it is an harmless mistake. If you look at both examples, destructor is never called as we never exit the main. @paul-szczepanek-arm Any opinion about this issue ?

[2019-03-21 13:03] ciarmcom commented on #224
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1039*

[2019-03-21 17:50] bestony commented on #224
yes, it harmless. but i think this is a exmaple for people who learn Mbed OS.

The cpp is diffcult to control Pointer , Keep Strict maybe is better for people who write code in embedded device

[2019-03-28 03:05] desmond-blue opened #227 "BLE_SM README.md describes wrong order of being central/peripheral"
In [README.md of BLE_SM](https://github.com/ARMmbed/mbed-os-example-ble/tree/master/BLE_SM#sm---example-usage-of-the-security-manager-to-pair-and-encrypt), it says the device will be central first and then disconnect to be peripheral. However in [main file](https://github.com/ARMmbed/mbed-os-example-ble/blob/c2931924ab830f99cbcefa4d5ce281a899c7fc9b/BLE_SM/source/main.cpp#L540), peripheral role is

[2019-03-28 06:42] ciarmcom commented on #227
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1075*

[2019-03-28 10:26] pan- commented on #227
@paul-szczepanek-arm Can you look at this one ?

[2019-03-29 11:55] paul-szczepanek-arm commented on #227
Thank you for reporting. Fixed:
https://github.com/ARMmbed/mbed-os-example-ble/pull/228

[2019-03-29 11:56] #227 closed

[2019-04-18 11:56] #224 closed

[2019-04-30 19:24] linlingao commented on #224
@bestony It appears your question has been answered. Please reopen if you have further questions.

[2019-05-01 00:35] bestony commented on #224
@linlingao Close is OK , but i think no destruct function will make more and more developer write some bad smell code.

[2019-05-15 01:39] tcpipchip opened #237 "U-BLOX Nina B112"
I compiled (mbed-cli) the LED APPLICATION example to U-BLOX NINA B112 and execute it, but the BLE SCANNER didnt find it. But sends data to serial and blink led

mbed compile -t GCC_ARM -m UBLOX_EVK_NINA_B1

then i burned the BLE_LED.hex

I remember that this example had worked in the past!

![image](https://user-images.githubusercontent.com/11488460/57741944-5a60aa80-7695-11e9-943f-1dd944e926f3.pn

[2019-05-15 02:12] tcpipchip commented on #237
One tip,

I did find some hex files created with mbed-cli weeks ago (wich includes the BLE LED example) and they works very fine after i burn on NINA B112.

Is it a MBED-OS update problem to NINA B112 ?

[2019-05-15 05:36] ciarmcom commented on #237
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1203*

[2019-05-23 08:40] LDong-Arm commented on #53
Many thanks @jmjobin, you are totally correct.

The GATT specification for Health Thermometer Service requires "indicate", see https://www.bluetooth.org/docman/handlers/downloaddoc.ashx?doc_id=238688

And I confirm the HTM applet of nRF Toolbox does require "indicate" to work.

[2019-05-23 11:50] jmjobin commented on #53
Thank you.
Have a nice day.
jean-marc
---- Messaggio originale ----
Da : notifications@github.com
Data : 23/05/2019 - 10:40 (CEST)
A : mbed-os-example-ble@noreply.github.com
Cc : jmjobin@bluewin.ch, mention@noreply.github.com
Oggetto : Re: [ARMmbed/mbed-os-example-ble] Thermometer change Notify to Indicate? (#53)
Many thanks @jmjobin, you are totally correct.
The GATT specification for Health Ther

[2019-05-24 09:26] LDong-Arm commented on #53
The fix is merged to mbed-os: https://github.com/ARMmbed/mbed-os/commit/ce775d58e9f2c3e6e50aa84778ccc16b0d989b8a

[2019-05-24 09:34] #53 closed

[2019-06-11 07:48] desmond-blue opened #243 "[Mbed-OS 5.13 OOB] BLE_Beacon is deprecated, take another demo for example in README"
Refer to [here](https://github.com/ARMmbed/mbed-os-example-ble/blob/15cef9623e67b7e056971828eecb904ce2226cf7/BLE_Beacon/source/main.cpp#L24), beacon demo is deprecated, so choose another demo under section **Building and testing the examples** in README.

[2019-06-12 05:39] ciarmcom commented on #243
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1275*

[2019-06-27 15:22] deepikabhavnani opened #248 "Incorrect NULL pointer check - Gatt Client Example"
https://github.com/ARMmbed/mbed-os-example-ble/blob/master/BLE_GattClient/source/main.cpp#L466

[code]

[2019-06-27 20:32] ciarmcom commented on #248
*Internal Jira reference: https://jira.arm.com/browse/MBOCUSTRIA-1347*

[2019-08-17 03:07] AGlass0fMilk opened #257 "Security Manager example broken for nRF52840_DK"
Hi,

While attempting to build and test the `BLE_SM` example on the `nRF52840_DK` target, my phone is able to connect but the Mbed-OS device encounters an error when attempting to upgrade the link's security. The following debug output is shown:

[code]

The `SM:setLinkSecurity` call is returning `BLE_ERROR_INVALID_PARAM` at this line:

https://github.com/ARMmbed/mbed-os/blob/033fffea8406fc32b4a19

[2019-08-17 03:28] AGlass0fMilk commented on #257
Still doesn't work -- my phone continuously attempts to connect and it goes into an infinite disconnection loop. This is seen with both the lightblue app and the nRFConnect app.

[2019-08-17 05:55] ciarmcom commented on #257
*Internal Jira reference: https://jira.arm.com/browse/IOTPAN-504*

[2019-08-19 17:10] stevennoyce commented on #128
I'm having what I believe is the same issue.

It is fairly simple to replicate, as follows:

- In the mbed cloud IDE, import the `mbed-os-example-ble-HeartRate-PSoC` example
- Change the target to `PSoC 6 BLE Pioneer Kit`
- Press `Compile`
- Receive compilation error `'ble/BLE.h' file not found
- Switch target to `Nordic nRF52-DK`
- Press `Compile` again
- Build is now successful

I am new to the

[2019-08-20 11:26] pan- commented on #128
IIRC BLE hasn't been enabled yet by Cypress on `PSoC 6 BLE Pioneer Kit`.

[2019-08-23 04:09] lichangche opened #258 "Periodic advertising example broken"
As of 23/08/2019, the periodic adverting example breaks so far (tested using 5.13.x and master branch, test done NRF52840 DK) - in my test, the two nodes can establish their roles (after a number of changes including to change the first advertising type [not the periodic one] to legacy true, otherwise it spells out system error and crashes), the scanner will always return at this line:

    /* if

[2019-08-23 06:23] ciarmcom commented on #258
*Internal Jira reference: https://jira.arm.com/browse/IOTPAN-505*

[2019-08-24 19:19] stevennoyce commented on #128
Ah, okay, that's unfortunate.  I didn't expect that, as I have a hard time seeing how a BLE kit can be advertised as mbed enabled if the mbed BLE interface is not functional on that board.

Is there somewhere I could check to see which boards are capable of running BLE via mbed?

[2019-08-26 08:00] idea--list opened #259 "No BLE examples work on MAX32630FTHR"
Hi there,

I have the MAX32630FTHR board that has an onboard PAN1326B (that is based on TI's CC2564) dual-mode BT chip. I am having difficulties with running any of the BLE examples found [here](https://github.com/ARMmbed/mbed-os-example-ble) on this board. I am somewhat confused as this board is listed being BLE capable on the mbed website, the [github page](https://github.com/ARMmbed/mbed-os-exa

[2019-08-26 12:06] ciarmcom commented on #259
*Internal Jira reference: https://jira.arm.com/browse/IOTPAN-507*

[2019-08-27 11:53] lichangche commented on #258
Thanks for your attention.

Is there any update on this? Can anyone point me a Mbed OS version which works with this periodic advertising example so that I can continue with my experiment? - my target application is heavily rely on periodic advertising.

Your kind help will be greatly appreciated.

[2019-08-27 13:58] pan- commented on #128
@steven-slatter [Here](https://github.com/ARMmbed/mbed-os/blob/7e179f5beb6946dd9221164d7082c38e82aa4fb3/targets/targets.json#L8632) you can see that the target doesn't have the BLE feature defined. It is not the [case](https://github.com/ARMmbed/mbed-os/blob/7e179f5beb6946dd9221164d7082c38e82aa4fb3/targets/targets.json#L8589) for some other targets from cypress.

[2019-08-28 08:49] pan- commented on #128
@stevennoyce I tagged the wrong user on my last comment but you can look it up for your answer.

[2019-08-30 20:35] stevennoyce commented on #128
I see.  Thanks for pointing me in the right direction.  I'm glad I now know where to look for that sort of thing.  Unfortunately digging through targets.json was not an obvious pathway for a new mbed user, but now I know.

Thanks again.

[2019-09-05 13:33] pan- opened #261 "BLE_GapButton example doesn't work"
I've noticed several issues on the example:

The advertising payload isn't updated into its advertising set; the following lines are missing in the function [update_button_payload](https://github.com/ARMmbed/mbed-os-example-ble/blob/47a653482689be385512aa522570c343b8471843/BLE_GAPButton/source/main.cpp#L136)

https://github.com/ARMmbed/mbed-os-example-ble/blob/47a653482689be385512aa522570c343b8471

[2019-09-05 14:28] AGlass0fMilk opened #262 "BLE DTM Test"
We are nearing production with a BLE device and will need to perform Bluetooth Qualification.

Is there any example of BLE DTM based on Mbed's Cordio stack?

[2019-09-05 14:29] pan- commented on #262
@donatieng

[2019-09-05 14:32] AGlass0fMilk commented on #257
Nearing 3 weeks...

[2019-09-05 14:36] AGlass0fMilk commented on #262
This may be more hardware specific but there should be a HAL/API to port DTM commands and an example application using Mbed's UART interface. Otherwise, we'll have to rely on Nordic's SDK for this.

[2019-09-05 15:07] AGlass0fMilk commented on #257
@pan @donatieng

[2019-09-05 15:17] maclobdell commented on #257
@bentcooke - any advice here?

[2019-09-05 15:34] AGlass0fMilk commented on #257
Just tried this with the nRF52840_DK from a fresh clone. Attempted to connect with my iPhone SE using the LightBlue scanner app. Still does not seem to be working properly. I get a connection/disconnection loop until the phone terminates the connection attempts with the following console output:

[code]

[2019-09-05 20:19] ciarmcom commented on #262
*Internal Jira reference: https://jira.arm.com/browse/IOTPAN-510*

[2019-09-05 20:19] ciarmcom commented on #261
*Internal Jira reference: https://jira.arm.com/browse/IOTPAN-511*

[2019-09-06 17:55] loverdeg-ep commented on #257
@0xc0170 @adbridge @donatieng @pan- @desmond-blue @paul-szczepanek-arm

This has a customer behind it.
Further, there is potential for it and other products from this customer to connect to Pelion, via gateway or other.

[2019-09-09 10:41] 0xc0170 commented on #257
I'll talk to the team to check this issue.

[2019-09-19 18:57] maclobdell commented on #262
@donatieng - Please let us know if you have any guidance.

[2019-09-19 20:29] #164 closed

[2019-09-26 11:42] ashok-rao opened #267 "Sending more than 13 bytes payload in adv packet causes BUFFER_OVERFLOW."
I'm using the BLE_GAPButton example and trying to send 15 packets in the advertisement payload. Contents of adv packet are: default flags, device name (5 chars), local service list along with 15 packets of data. However, I get the following buffer_overflow error when using on a Laird BL654 module (based on nRF52840).

[code]

@pan-  has kindly already fixed the issue locally (since we were blocked

[2019-09-26 11:52] ciarmcom commented on #267
*Internal Jira reference: https://jira.arm.com/browse/IOTPAN-517*

[2019-10-02 20:19] 40Grit commented on #257
@ranshe

[2019-10-03 23:10] idea--list commented on #259
Made some revision comparisons. Turns out that revision 72 (dated to 14 Dec 2018) of the examples work on this board even if one updates mbed-os to 5.14.

However later revisions of the examples do not work on this board. After comparing the main.cpp files it turns out the skeleton of the examples was rewritten, so that is the cause why all the examples are broken for this board. All that means th

[2019-10-08 14:50] simonpfeifhofer commented on #257
Any updates on this?

[2019-10-26 13:47] bsturgess opened #270 "Huge current consumption on NRF52"
Hello

I have tried compiling this demo on both the online IDE and Mbed Studio and I get current consumption of 900ua after calling _ble.init

from the look of the cpu stats it is just never deep sleeping

Uptime: 2001 Sleep time: 1930 Deep Sleep: 0 Uptime: 4001 Sleep time: 3864 Deep Sleep: 0 Uptime: 6001 Sleep time: 5798 Deep Sleep: 0 Uptime: 8001 Sleep time: 7733 Deep Sleep: 0 Uptime: 10001 Slee

[2019-10-28 17:14] ciarmcom commented on #270
*Internal Jira reference: https://jira.arm.com/browse/IOTPAN-522*

[2019-10-31 21:20] ciarmcom commented on #169
Thank you for raising this issue. Please note we have updated our policies and
 now only defects should be raised directly in GitHub. Going forward questions and
 enhancements will be considered in our forums, https://forums.mbed.com/ . If this
 issue is still relevant please re-raise it there.
 This GitHub issue will now be closed.

[2019-10-31 21:20] ciarmcom commented on #267
Thank you for raising this issue. Please note we have updated our policies and
 now only defects should be raised directly in GitHub. Going forward questions and
 enhancements will be considered in our forums, https://forums.mbed.com/ . If this
 issue is still relevant please re-raise it there.
 This GitHub issue will now be closed.

[2019-10-31 21:20] ciarmcom commented on #243
Thank you for raising this issue. Please note we have updated our policies and
 now only defects should be raised directly in GitHub. Going forward questions and
 enhancements will be considered in our forums, https://forums.mbed.com/ . If this
 issue is still relevant please re-raise it there.
 This GitHub issue will now be closed.

[2019-10-31 21:20] ciarmcom commented on #262
Thank you for raising this issue. Please note we have updated our policies and
 now only defects should be raised directly in GitHub. Going forward questions and
 enhancements will be considered in our forums, https://forums.mbed.com/ . If this
 issue is still relevant please re-raise it there.
 This GitHub issue will now be closed.

[2019-10-31 21:20] ciarmcom commented on #182
Thank you for raising this issue. Please note we have updated our policies and
 now only defects should be raised directly in GitHub. Going forward questions and
 enhancements will be considered in our forums, https://forums.mbed.com/ . If this
 issue is still relevant please re-raise it there.
 This GitHub issue will now be closed.

[2019-10-31 21:20] ciarmcom commented on #181
Thank you for raising this issue. Please note we have updated our policies and
 now only defects should be raised directly in GitHub. Going forward questions and
 enhancements will be considered in our forums, https://forums.mbed.com/ . If this
 issue is still relevant please re-raise it there.
 This GitHub issue will now be closed.

[2019-10-31 21:20] ciarmcom commented on #261
Thank you for raising this issue. Please note we have updated our policies and
 now only defects should be raised directly in GitHub. Going forward questions and
 enhancements will be considered in our forums, https://forums.mbed.com/ . If this
 issue is still relevant please re-raise it there.
 This GitHub issue will now be closed.

[2019-10-31 21:20] ciarmcom commented on #257
Thank you for raising this issue. Please note we have updated our policies and
 now only defects should be raised directly in GitHub. Going forward questions and
 enhancements will be considered in our forums, https://forums.mbed.com/ . If this
 issue is still relevant please re-raise it there.
 This GitHub issue will now be closed.

[2019-10-31 21:20] ciarmcom commented on #180
Thank you for raising this issue. Please note we have updated our policies and
 now only defects should be raised directly in GitHub. Going forward questions and
 enhancements will be considered in our forums, https://forums.mbed.com/ . If this
 issue is still relevant please re-raise it there.
 This GitHub issue will now be closed.

[2019-10-31 21:20] ciarmcom commented on #237
Thank you for raising this issue. Please note we have updated our policies and
 now only defects should be raised directly in GitHub. Going forward questions and
 enhancements will be considered in our forums, https://forums.mbed.com/ . If this
 issue is still relevant please re-raise it there.
 This GitHub issue will now be closed.

[2019-10-31 21:20] ciarmcom commented on #248
Thank you for raising this issue. Please note we have updated our policies and
 now only defects should be raised directly in GitHub. Going forward questions and
 enhancements will be considered in our forums, https://forums.mbed.com/ . If this
 issue is still relevant please re-raise it there.
 This GitHub issue will now be closed.

[2019-10-31 21:20] ciarmcom commented on #211
Thank you for raising this issue. Please note we have updated our policies and
 now only defects should be raised directly in GitHub. Going forward questions and
 enhancements will be considered in our forums, https://forums.mbed.com/ . If this
 issue is still relevant please re-raise it there.
 This GitHub issue will now be closed.

[2019-10-31 21:20] ciarmcom commented on #157
Thank you for raising this issue. Please note we have updated our policies and
 now only defects should be raised directly in GitHub. Going forward questions and
 enhancements will be considered in our forums, https://forums.mbed.com/ . If this
 issue is still relevant please re-raise it there.
 This GitHub issue will now be closed.

[2019-10-31 21:21] ciarmcom commented on #39
Thank you for raising this issue. Please note we have updated our policies and
 now only defects should be raised directly in GitHub. Going forward questions and
 enhancements will be considered in our forums, https://forums.mbed.com/ . If this
 issue is still relevant please re-raise it there.
 This GitHub issue will now be closed.

[2019-10-31 21:21] ciarmcom commented on #215
Thank you for raising this issue. Please note we have updated our policies and
 now only defects should be raised directly in GitHub. Going forward questions and
 enhancements will be considered in our forums, https://forums.mbed.com/ . If this
 issue is still relevant please re-raise it there.
 This GitHub issue will now be closed.

[2019-10-31 21:21] ciarmcom commented on #201
Thank you for raising this issue. Please note we have updated our policies and
 now only defects should be raised directly in GitHub. Going forward questions and
 enhancements will be considered in our forums, https://forums.mbed.com/ . If this
 issue is still relevant please re-raise it there.
 This GitHub issue will now be closed.

[2019-10-31 21:22] Navis-Raven commented on #169
@ConradBraam what's new about this bug ?

[2019-11-01 06:27] ciarmcom commented on #201
Thank you for raising this issue. Please note we have updated our policies and
 now only defects should be raised directly in GitHub. Going forward questions and
 enhancements will be considered in our forums, https://forums.mbed.com/ . If this
 issue is still relevant please re-raise it there.
 This GitHub issue will now be closed.

[2019-11-01 06:27] ciarmcom commented on #157
Thank you for raising this issue. Please note we have updated our policies and
 now only defects should be raised directly in GitHub. Going forward questions and
 enhancements will be considered in our forums, https://forums.mbed.com/ . If this
 issue is still relevant please re-raise it there.
 This GitHub issue will now be closed.

[2019-11-01 06:27] ciarmcom commented on #182
Thank you for raising this issue. Please note we have updated our policies and
 now only defects should be raised directly in GitHub. Going forward questions and
 enhancements will be considered in our forums, https://forums.mbed.com/ . If this
 issue is still relevant please re-raise it there.
 This GitHub issue will now be closed.

[2019-11-01 08:40] 40Grit commented on #257
@0xc0170 This falls under the category of defect I believe

[2019-11-01 15:35] adbridge commented on #267
Apologies, this was closed in error by the automated bot - re-opening.

[2019-11-01 15:41] adbridge commented on #262
Apologies, this was closed in error by the automated bot - re-opening.

[2019-11-01 15:42] adbridge commented on #261
Apologies, this was closed in error by the automated bot - re-opening.

[2019-11-01 15:48] adbridge commented on #248
Apologies, this was closed in error by the automated bot - re-opening.

[2019-11-01 15:49] adbridge commented on #243
Apologies, this was closed in error by the automated bot - re-opening.

[2019-11-01 15:49] adbridge commented on #237
Apologies, this was closed in error by the automated bot - re-opening.

[2019-11-01 15:50] adbridge commented on #215
Apologies, this was closed in error by the automated bot - re-opening.

[2019-11-01 15:52] adbridge commented on #211
Apologies, this was closed in error by the automated bot - re-opening.

[2019-11-01 15:53] adbridge commented on #181
Apologies, this was closed in error by the automated bot - re-opening.

[2019-11-01 15:54] adbridge commented on #180
Apologies, this was closed in error by the automated bot - re-opening.

[2019-11-01 15:55] adbridge commented on #169
Apologies, this was closed in error by the automated bot - re-opening.

[2019-11-01 15:55] adbridge commented on #39
Apologies, this was closed in error by the automated bot - re-opening.

[2019-11-13 16:41] ciarmcom commented on #181
*Internal Jira reference: https://jira.arm.com/browse/IOTPAN-527*

[2019-11-13 16:41] ciarmcom commented on #180
*Internal Jira reference: https://jira.arm.com/browse/IOTPAN-528*

[2019-11-13 16:41] ciarmcom commented on #169
*Internal Jira reference: https://jira.arm.com/browse/IOTPAN-529*

[2019-11-13 16:41] ciarmcom commented on #39
*Internal Jira reference: https://jira.arm.com/browse/IOTPAN-530*

[2020-01-20 09:35] jeromecoutant opened #278 "BLE_HeartRate : compilation issue with BLE_ERROR_NOT_FOUND"
Hi

Got issue with BLE_HeartRate example:

https://github.com/ARMmbed/mbed-os-example-ble/blob/6a85f804ee8b2a31811efbbdfc1bad42d2b85d4a/BLE_HeartRate/source/pretty_printer.h#L23

./source/pretty_printer.h:23:12: warning: enumeration value 'BLE_ERROR_NOT_FOUND' not handled in switch [-Wswitch]

You should add a else case ?

Regards,

[2020-01-20 16:26] ciarmcom commented on #278
*Internal Jira reference: https://jira.arm.com/browse/IOTPAN-540*

[2020-05-13 00:18] ifyall opened #296 "BLE Gatt Client (and others?) doesn't build for NRF52840_DK on Mbed OS 5.15.3"
The BLE Gatt Client example is failing at the link step due to functions being missing in the final image. See the error messages below.

Mbed OS version: 5.15.3
mbed-os-example-ble SHA: 03eb4a5e

[Error] pretty_printer.h@83,29: no matching function for call to 'ble::own_address_type_t::own_address_type_t()'
[Error] pretty_printer.h@85,56: no matching function for call to 'ble::interface::LegacyGa

[2020-05-13 05:28] ciarmcom commented on #296
Thank you for raising this detailed GitHub issue. I am now notifying our internal issue triagers.
*Internal Jira reference: https://jira.arm.com/browse/IOTPAN-550*

[2020-05-21 15:07] hugueskamba opened #299 "BLE_GattServer: No README file"
@pan- @LDong-Arm
There is no instruction on how to build/run this app, nor what to expect from it.

[2020-05-21 15:23] ciarmcom commented on #299
Thank you for raising this detailed GitHub issue. I am now notifying our internal issue triagers.
*Internal Jira reference: https://jira.arm.com/browse/IOTPAN-553*

[2020-05-22 09:30] adbridge commented on #299
@LDong-Arm @paul-szczepanek-arm @pan- Could one of you please take a look at this ?

[2020-05-22 11:11] LDong-Arm commented on #299
#300 created

[2020-05-22 12:39] #299 closed

[2020-05-29 11:23] pan- commented on #248
Fixed: https://github.com/ARMmbed/mbed-os-example-ble/blob/eaccb488a28794b5dbc8034020af91320f787f67/BLE_GattClient/source/main.cpp#L484

[2020-05-29 11:23] #248 closed

[2020-05-29 15:55] pan- commented on #211
@KyleHunter I tried to reproduce the issue locally but everything seems to work with the latest version of mbed-os.

[2020-06-01 14:30] pan- commented on #257
@AGlass0fMilk Is it still an issue ? I can't reproduce it.

[2020-06-05 08:49] #267 closed

[2020-06-13 09:59] zayats1 opened #303 "Bug with string in function init or in function parameter"
https://imgur.com/gallery/2zpqt9r

[2020-06-13 11:48] ciarmcom commented on #303
Thank you for raising this detailed GitHub issue. I am now notifying our internal issue triagers.
*Internal Jira reference: https://jira.arm.com/browse/IOTPAN-584*

[2020-06-26 15:08] Gerriko opened #308 "Why are none of the examples using the UUID class to properly define UUIDs"
I'm looking at the MBED ble examples for the first time and I am rather perplexed as to why none of the examples provided on GitHub use the UUID class to define the UUID's.

Otherwise, what is the purpose of UUID.h?

I'm ignoring the fact that some of these examples, like LEDservice, are also defining the services/ characteristics as 16 bit short UUID's, which not considered best practice, IMHO.

[2020-06-26 15:24] ciarmcom commented on #308
Thank you for raising this detailed GitHub issue. I am now notifying our internal issue triagers.
*Internal Jira reference: https://jira.arm.com/browse/IOTPAN-606*

[2020-06-27 12:05] #278 closed

[2020-06-27 16:46] Gerriko commented on #308
In hindsight, I should've broadened this issue.

I am finding that there is very little commonality of approach in any of the examples provided. As these are official MBED examples, it would be really helpful to the new user if things could be tidied up a bit, as it takes ages trawling through each code example to make sense of all the different approaches and coding styles and try to work out if

[2020-07-17 02:01] helpfulchicken opened #312 "GAP example broken for nRF52_DK in branch mbed-os-5-15"
### Description of defect

The BLE_GAP example, in the branch mbed-os-5-15, runs for a little while, switching between scanning and advertising modes as expected, then it crashes with an assertion failed relating to advertising types.

#### Target(s) affected by this defect ?
Tested this on a unit programmed as the NRF52_DK target.

#### Toolchain(s) (name and version) displaying this defect ?
GCC

[2020-07-17 02:05] helpfulchicken commented on #312
I found that one of the recent commits on the master branch (mbed-os-6.2.0) 31426f1 fixes this issue.

[2020-07-17 05:27] ciarmcom commented on #312
Thank you for raising this detailed GitHub issue. I am now notifying our internal issue triagers.
*Internal Jira reference: https://jira.arm.com/browse/IOTPAN-642*

[2020-08-06 10:27] Gerriko opened #315 "BLE examples throwing up errors in MBED Studio (OS6.2)"
I tested some of these examples over a month ago and they compiled (I believe it was OS 6.1).

Now, I have just tried to compile two examples on MBED Studio (OS6.2) and these threw up some "generic" errors for the main.cpp and in the "pretty_printer.h" file.

In file included from ./mbed-os/features/FEATURE_BLE/ble/BLE.h:20:
./mbed-os/features/FEATURE_BLE/ble/BLERoles.h:5:6: error: "BLE requires a

[2020-08-06 11:48] ciarmcom commented on #315
Thank you for raising this detailed GitHub issue. I am now notifying our internal issue triagers.
*Internal Jira reference: https://jira.arm.com/browse/IOTPAN-653*

[2020-08-06 12:48] Gerriko commented on #315
I have just discovered that if I use "**mbed-os-empty**" as my template or starting point then it does compile without error, although I am getting warnings because of the use of deprecated functions in main.cpp.

For example MBED Studio informs me that "call_every" is deprecated since MBED OS 6.0 and we are now at MBED OS 6.2:
`_blink_event = _event_queue.call_every(500, this, &GapDemo::blink);`

[2020-08-13 10:12] AGlass0fMilk commented on #257
This issue is now outdated and probably resolved thanks to updates to the BLE stack. If I encounter this again I will open a new issue.

[2020-08-13 10:12] #257 closed

[2020-08-16 20:06] Gerriko opened #319 "BLE_GattServer does not appear to advertise its service UUID"
I noticed when testing the BLE_GattServer example with a BLE utility app, like nRFConnect or Bluetooth LE Scanner, that the **service UUID is not advertised**.

It is more common than not for a service UUID to be advertised.

[2020-08-16 20:13] ciarmcom commented on #319
Thank you for raising this detailed GitHub issue. I am now notifying our internal issue triagers.
*Internal Jira reference: https://jira.arm.com/browse/IOTPAN-661*

[2020-08-17 10:20] Gerriko commented on #319
Thanks. It appears that within the function `void start_advertising()` ALL advertising parameters have not been defined as this is empty `ble::AdvertisingParameters adv_params;`

[2020-10-01 14:42] ciarmcom commented on #319
Thank you for raising this detailed GitHub issue. I am now notifying our internal issue triagers.
*Internal Jira reference: https://jira.arm.com/browse/IOTOSM-2047*

[2020-10-01 14:43] ciarmcom commented on #258
Thank you for raising this detailed GitHub issue. I am now notifying our internal issue triagers.
*Internal Jira reference: https://jira.arm.com/browse/IOTOSM-2048*

[2020-10-01 14:43] ciarmcom commented on #180
Thank you for raising this detailed GitHub issue. I am now notifying our internal issue triagers.
*Internal Jira reference: https://jira.arm.com/browse/IOTOSM-2049*

[2020-10-01 14:44] ciarmcom commented on #296
Thank you for raising this detailed GitHub issue. I am now notifying our internal issue triagers.
*Internal Jira reference: https://jira.arm.com/browse/IOTOSM-2050*

[2020-10-01 14:44] ciarmcom commented on #181
Thank you for raising this detailed GitHub issue. I am now notifying our internal issue triagers.
*Internal Jira reference: https://jira.arm.com/browse/IOTOSM-2051*

[2020-10-01 14:44] ciarmcom commented on #308
Thank you for raising this detailed GitHub issue. I am now notifying our internal issue triagers.
*Internal Jira reference: https://jira.arm.com/browse/IOTOSM-2052*

[2020-10-01 14:45] ciarmcom commented on #237
Thank you for raising this detailed GitHub issue. I am now notifying our internal issue triagers.
*Internal Jira reference: https://jira.arm.com/browse/IOTOSM-2053*

[2020-10-01 14:45] ciarmcom commented on #312
Thank you for raising this detailed GitHub issue. I am now notifying our internal issue triagers.
*Internal Jira reference: https://jira.arm.com/browse/IOTOSM-2054*

[2020-10-01 14:46] ciarmcom commented on #243
Thank you for raising this detailed GitHub issue. I am now notifying our internal issue triagers.
*Internal Jira reference: https://jira.arm.com/browse/IOTOSM-2055*

[2020-10-01 14:46] ciarmcom commented on #259
Thank you for raising this detailed GitHub issue. I am now notifying our internal issue triagers.
*Internal Jira reference: https://jira.arm.com/browse/IOTOSM-2056*

[2020-10-01 14:47] ciarmcom commented on #262
Thank you for raising this detailed GitHub issue. I am now notifying our internal issue triagers.
*Internal Jira reference: https://jira.arm.com/browse/IOTOSM-2057*

[2020-10-01 14:47] ciarmcom commented on #169
Thank you for raising this detailed GitHub issue. I am now notifying our internal issue triagers.
*Internal Jira reference: https://jira.arm.com/browse/IOTOSM-2058*

[2020-10-01 14:48] ciarmcom commented on #270
Thank you for raising this detailed GitHub issue. I am now notifying our internal issue triagers.
*Internal Jira reference: https://jira.arm.com/browse/IOTOSM-2059*

[2020-10-01 14:48] ciarmcom commented on #39
Thank you for raising this detailed GitHub issue. I am now notifying our internal issue triagers.
*Internal Jira reference: https://jira.arm.com/browse/IOTOSM-2060*

[2020-10-01 14:49] ciarmcom commented on #211
Thank you for raising this detailed GitHub issue. I am now notifying our internal issue triagers.
*Internal Jira reference: https://jira.arm.com/browse/IOTOSM-2061*

[2020-10-01 14:50] ciarmcom commented on #261
Thank you for raising this detailed GitHub issue. I am now notifying our internal issue triagers.
*Internal Jira reference: https://jira.arm.com/browse/IOTOSM-2062*

[2020-10-01 14:50] ciarmcom commented on #303
Thank you for raising this detailed GitHub issue. I am now notifying our internal issue triagers.
*Internal Jira reference: https://jira.arm.com/browse/IOTOSM-2063*

[2020-10-01 14:51] ciarmcom commented on #215
Thank you for raising this detailed GitHub issue. I am now notifying our internal issue triagers.
*Internal Jira reference: https://jira.arm.com/browse/IOTOSM-2064*

[2020-10-01 14:51] ciarmcom commented on #315
Thank you for raising this detailed GitHub issue. I am now notifying our internal issue triagers.
*Internal Jira reference: https://jira.arm.com/browse/IOTOSM-2065*

[2020-10-01 14:57] pan- commented on #319
@Gerriko The application is supposed to set in the advertising payload the services UUIDs it wants to advertise.

[2020-10-01 15:01] pan- commented on #296
@ifyall Is it still an issue ? What version of the examples where you using and how did you compiled them ?

[2020-10-01 16:46] pan- commented on #237
@tcpipchip Is this issue still relevant ? The U-BLOX Nina B112 isn't supported by Mbed OS 6.

[2020-10-01 16:48] #312 closed

[2020-10-01 16:53] pan- commented on #243
Closing this. The demo in the readme is BLE_Button.

[2020-10-01 16:53] #243 closed

[2020-10-01 17:00] pan- commented on #259
@idea--list This board doesn't receive active support from it's manufacturer and is not part of mbed OS 6.
You can report the problem back to Maxim.

[2020-10-01 17:00] #259 closed

[2020-10-01 17:39] tcpipchip commented on #237
ok! Thank you!

[2020-10-02 08:10] pan- commented on #169
I'm closing this. It is unrelated to the examples in this repository.

[2020-10-02 08:10] #169 closed

[2020-10-02 08:12] pan- commented on #211
@KyleHunter I'm closing this since we didn't received update from you. Please reopen if it is still an issue.

[2020-10-02 08:12] #211 closed

[2020-10-02 08:14] pan- commented on #39
I'm closing this, IAR isn't supported by Mbed OS 6.

[2020-10-02 08:14] #39 closed

[2020-10-02 08:20] pan- commented on #303
This is not related to examples in this repo. I close

[2020-10-02 08:20] #303 closed

[2020-10-02 08:22] pan- commented on #261
Similar to #215

[2020-10-02 08:23] pan- commented on #215
See development in #261

[2020-10-02 08:23] #215 closed

[2020-10-02 14:36] Navis-Raven commented on #169
That's false. Off course it was related to the examples in the repository (see below)
![image](https://user-images.githubusercontent.com/15887222/94934978-b61b1600-04cc-11eb-8636-ebb4183d7141.png)

I don't know how your project evolved since 2018, if after two years I declared this bug, it's the only answer you give... it is quite revolting for the users.

[2020-10-05 19:06] pan- commented on #258
@lichangche We've updated recently the Bluetooth stack  used by Mbed OS. Does the problem persist ?

[2020-10-07 14:34] #319 closed

[2020-10-07 14:42] Gerriko commented on #319
@pan- Not sure why this is closed as whilst you are correct that an application is supposed to set up payload and service UUID, as far as I could make out, it is currently NOT possible to define and then advertise a 128 bit service UUID with the Mbed BLE library. You can readily do it using a 16bit UUID but not 128bit. Maybe this can be clarified, otherwise I plan to reopen the issue. Thank you.

[2020-10-07 15:12] pan- commented on #319
@Gerriko

The goal of that example is to demonstrate basic functionalities of the GattServer API. That is the reason why advertising is not seen in the main file we don't want to expose too many unrelated details in the example.

However I admit it would be valuable for the community to have a blueprint of what is possible with BLE API from A to Z.

To set local service UUID in the advertising pay

[2020-10-21 13:05] pan- commented on #315
@Gerriko https://github.com/ARMmbed/mbed-os-example-blinky-baremetal contains a list of required dependencies in its [mbed_app.json](https://github.com/ARMmbed/mbed-os-example-blinky-baremetal/blob/master/mbed_app.json). Did you had the BLE dependencies to it ? If not the compilation errors seems normal but that doesn't explained why it worked with Mbed OS 6.1.

I don't know how mbed studio deals

[2020-10-21 13:05] #315 closed

[2020-10-21 21:01] paul-szczepanek-arm commented on #261
This example is being replaced. The new example will not have this issue.

[2020-10-21 21:02] paul-szczepanek-arm commented on #215
This example is being replaced. The new example will not have this issue.

[2020-10-23 11:50] #261 closed

[2020-10-29 19:00] AGlass0fMilk opened #335 "Why is delay required before starting advertisements after setting up SecurityManager?"
I am adding pairing/privacy to a new BLE application and was following the `BLE_SM` example in this repo. After adding the necessary changes in, my BLE device was no longer advertising. After checking the debug UART output, I found that for some reason the call to `Gap::startAdvertising()` was failing!

The fix ended up being to add a small delay (using `EventQueue::call_in` instead of simply `cal

[2020-10-29 19:22] pan- commented on #335
Privacy takes some time to setup. During that time, it is not possible to advertise otherwise you'd advertise with a non private address. The API signal to the user through a callback when privacy has been enabled and gap is ready to be used (advertising, scan, connection).

[2020-10-29 19:32] AGlass0fMilk commented on #335
Ah, that's quite a recent update:

https://github.com/ARMmbed/mbed-os/commit/bb35cba134fb6d9a09c6391e39d1946e61486929

I will have to update `ChainableGapEventHandler` to support the new `onPrivacyEnabled()` callback.

Perhaps the example should be updated in the future to explain this?

[2020-10-29 20:04] AGlass0fMilk commented on #335
@pan- I added changes to address this question in the future into my BLE_SM PR. See above linked issue.

[2020-10-29 20:19] pan- commented on #335
Thanks @AGlass0fMilk I believe changes where lost because it was present in https://github.com/ARMmbed/mbed-os-example-ble/pull/323/files . I missed it during the review of the example rework.

[2020-10-29 21:18] ciarmcom commented on #335
@AGlass0fMilk thank you for raising this issue.Please take a look at the following comments:

Could you add some more detail to the description? A good description should be at least 25 words.
What target(s) are you using?
What toolchain(s) are you using?
What version of Mbed OS are you using (tag or sha)?
It would help if you could also specify the versions of any tools you are using?
How can we

[2020-10-29 22:08] paul-szczepanek-arm commented on #335
I have included that in the rework of examples. Unfortunately due to unfortunate timing I couldn't merge my PR until after release. Please look at the development branch of examples.

[2020-10-30 15:27] AGlass0fMilk commented on #335
Question has been answered and resolution is currently in the development branch, it will be in master upon next release.

[2020-10-30 15:27] #335 closed

[2020-11-08 14:06] jw-smaal opened #339 "BLE_HeartRate example does not work on NRF52_DK"
### Description of defect

BLE_HearRate example compiles ok.  However when using a BLE scanner and then connecting to the "Heartrate" device it disconnects unexpectedly.   I tried multiple types of BLE scanners same issue on iPhone.

The DAPLINK CMSIS-DAP debug printf only printouts: DEVICE MAC ADDRESS: da:3f:a1:a:f5:f

#### Target(s) affected by this defect ?

NRF_52_DK
#### Toolchain(s) (name an

[2020-11-08 14:23] ciarmcom commented on #339
@jw-smaal thank you for raising this issue.Please take a look at the following comments:

We cannot automatically identify a release based on the version of Mbed OS that you have provided.
Please provide either a single valid sha of the form #abcde12 or #3b8265d70af32261311a06e423ca33434d8d80de
or a single valid release tag of the form mbed-os-x.y.z .
E.g. 'https://github.com/ARMmbed/mbed-os/#8ef0

[2020-11-09 09:16] paul-szczepanek-arm commented on #339
Can you look into the log on your iphone to see what the reason for disconnection is? You can also add to the example after init complete:
[code]
and add a function to the main class:
[code]
This way the example will also print the reason for disconnection.

[2020-11-09 16:29] jw-smaal commented on #339
Paul,

Thank you for looking into this.  The iPhone BLE scanner reports:
_Connected --> Discovering Services -- > [Callback] centralManager(centraldidDisconnectPeripheral: peripheral error: "The connection has times out unexpectedly"_

When I add the code I get
DEVICE MAC ADDRESS: da:3f:a1:a:f5:f
**Disconnected with error 8**

[2020-11-09 16:44] pan- commented on #308
@Gerriko If you look at the development branch, significant improvements have been made to the example to make them more consistent.  Use of 128bits UUID is demonstrated in https://github.com/ARMmbed/mbed-os-example-ble/blob/development/BLE_GattServer_CharacteristicUpdates/source/main.cpp .

Do you have other suggestions ?

[2020-11-09 18:07] paul-szczepanek-arm commented on #339
That means a timeout, one of the devices failed to send a packet for longer than the supervision timeout.

It's worthwhile to check the connection parameters. If you don't see them on your phone you can do a similar event on the example:
void onConnectionComplete(const ble::ConnectionCompleteEvent &event) override

and examine:
        conn_interval_t connectionInterval,
        slave_latency_t co

[2020-11-09 18:09] paul-szczepanek-arm commented on #339
This is not related to your problem (at least I don't) but wanted to mention that I have recently overhauled the examples - the new versions are available in the 'development' branch.

[2020-11-09 19:11] jw-smaal commented on #339
I have a good signal -37dBm I tried the development branch as well and with the BLE_GAP example I am getting similar issues.  Maybe it's not a bug but I am unable to get it to function at least with my phone.  I am going to get some other devices to try with as well.

The serial port on the NRF52_DK shows the following:

[2020-11-10 10:10] paul-szczepanek-arm commented on #339
The BLE_GAP example is designed to connect and disconnect on its own. It looks like it's happily negotiating higher bandwidth and longer packet size so your connection must be OK. I'm surprised by the out of memory errors for creation of an advertising set. I'll look into that.
On of the examples designed to maintain a connection is any of the gatt ones like the BLE_GattServer_CharacteristicWrite

[2020-11-10 10:29] #181 closed

[2020-11-10 10:42] paul-szczepanek-arm commented on #296
Since the examples have been overhauled since, I'm closing this. If you're still having issues with the current version @ifyall please reopen.

[2020-11-10 10:42] #296 closed

[2020-11-10 10:43] paul-szczepanek-arm commented on #270
Power consumption is an mbed-os issue reported here: https://github.com/ARMmbed/mbed-os/issues/10669

[2020-11-10 10:43] #270 closed

[2020-11-10 10:51] paul-szczepanek-arm commented on #262
We don't have an example but the test functionality in cordio is now in the CordioHCIDriver (rf_test_start_le_receiver_test, rf_test_start_le_transmitter_test, rf_test_end). We don't have plans of making an example for the usage but I'd welcome a PR for one.

[2020-11-10 10:51] #262 closed

[2020-11-10 10:55] paul-szczepanek-arm commented on #258
Closing as this has been resolved on mbed-os and the current periodic advertising example works fine on nrf52. If you still see an issue please repoen @lichangche.

[2020-11-10 10:55] #258 closed

[2020-11-10 10:56] #237 closed

[2020-11-10 21:09] jw-smaal commented on #339
@paul-szczepanek-arm happy to report that I managed to use the "BLE_GattServer_CharacteristicWrite" connect to the GattServer on the NRF52_DK and write characteristic to it.   Thanks for all your help.

[2020-11-11 09:28] paul-szczepanek-arm commented on #339
Glad it works for you. I will follow up on the out of memory errors in the gap example but since it's not part of this issue I will close this. If you think there's still a problem please reopen.

[2020-11-11 09:28] #339 closed

[2020-11-19 10:56] #308 closed

[2020-12-03 02:32] factoryal opened #347 "missing file: pretty_printer.h on example mbed-os-6.5.0"
### Description of defect
`pretty_printer.h` file missing on this 6.5.0 release. `02f839a`
cannot run example code since that file not found by compiler.
[code]

#### Target(s) affected by this defect ?
Nucleo-WB55

#### Toolchain(s) (name and version) displaying this defect ?
Mbed Studio 1.3.1

#### What version of Mbed-os are you using (tag or sha) ?
mbed-os-6.5.0 `f227856`

#### What version(s)

[2020-12-03 06:22] ciarmcom commented on #347
@factoryal thank you for raising this issue.Please take a look at the following comments:

What toolchain(s) are you using?
We cannot automatically identify a release based on the version of Mbed OS that you have provided.
 Please provide either a single valid sha of the form #abcde12 or #3b8265d70af32261311a06e423ca33434d8d80de
 or a single valid release tag of the form mbed-os-x.y.z .
E.g. '`f22

[2020-12-03 06:26] factoryal commented on #347
problem you mentioned has been fixed

[2020-12-03 08:26] paul-szczepanek-arm commented on #347
Pretty printer is part of mbed-os-ble-utils. This should be checked out by running `mbed deploy` inside the chosen example.

[2020-12-05 12:07] factoryal commented on #347
oh, so it was changed since this version?
I found that there's `pretty_printer.h` right on the previous version but now it's not.
I'll try out example once more.

thanks!

[2020-12-07 21:23] ciarmcom commented on #347
Thank you for raising this detailed GitHub issue. I am now notifying our internal issue triagers.
*Internal Jira reference: https://jira.arm.com/browse/IOTOSM-2948*

[2020-12-08 08:09] paul-szczepanek-arm commented on #347
Yes, it's been refactored out into a common repo as it's used by all examples. Please reopen if there's still an issue.

[2020-12-08 08:09] #347 closed

[2021-01-04 20:53] apcurtiss opened #351 "BLE_GattServer_AddService does not work on NRF52-DK"
### Description of defect
This looks a lot like issue #339, which I'm not sure was resolved. I've updated here with any new details:

The BLE_GattServer_AddService example compiles ok. However when using a BLE scanner and then connecting to the "Heartrate" device it disconnects unexpectedly, immediately after establishing a connection.

I added a disconnect reason printout to the disconnect callba

[2021-01-04 21:18] ciarmcom commented on #351
Thank you for raising this detailed GitHub issue. I am now notifying our internal issue triagers.
*Internal Jira reference: https://jira.arm.com/browse/IOTOSM-3156*

[2021-01-04 23:07] paul-szczepanek-arm commented on #351
I notice it's also an iphone. Any chance I could have some more logs? Ideally something lower level, from ios or failing that if you could print the connection params from mbed side. From this amount of information it's hard to say what could cause a timeout. Do you have the mbed device connected via serial to make sure the application is running OK there?

[2021-01-05 18:02] paul-szczepanek-arm commented on #351
If it starts advertising it means it thinks the other side disconnected, can you print the disconnect reason on the mbed board?

[2021-01-05 18:13] apcurtiss commented on #351
Yes I've already done that, it's 0x08 (timeout), same as in the other issue.

[2021-01-05 18:26] pan- commented on #351
@apcurtiss What surprises me is it disconnects after sending an MTU request and the MTU size requested by the mobile is 527. The maximum is supposed to be 517...

Which model of iPhone do you use ?

[2021-01-05 18:35] apcurtiss commented on #351
@pan- Hm interesting... It's an iPhone 11 running iOS 14.3.

[2021-01-05 18:39] pan- commented on #351
It works fine on iPhone 8 😭 and Mac. Would it be possible for you to put traces in [attsProcMtuReq](https://github.com/ARMmbed/mbed-os/blob/4c4295225ec17f9485c61c72588a02f0d35d6b31/connectivity/FEATURE_BLE/libraries/cordio_stack/ble-host/sources/stack/att/atts_proc.c#L238) and tell us if the server is trying [to send an error](https://github.com/ARMmbed/mbed-os/blob/4c4295225ec17f9485c61c72588a02f

[2021-01-05 18:46] apcurtiss commented on #351
Sure thing. And for what it's worth in the meantime, here are the phone logs from the BLE_GattServer_CharacteristicUpdates program, which _does_ work with my iPhone.

[GattServer_CharacteristicUpdates BLE Logs.txt](https://github.com/ARMmbed/mbed-os-example-ble/files/5771970/GattServer_CharacteristicUpdates.BLE.Logs.txt)

[2021-01-05 19:06] pan- commented on #351
That's a long shot but can you try to enable [LL_OP_MODE_FLAG_SLV_DELAY_LLCP_STARTUP](https://github.com/ARMmbed/mbed-os/blob/4c4295225ec17f9485c61c72588a02f0d35d6b31/connectivity/FEATURE_BLE/libraries/TARGET_CORDIO_LL/stack/controller/sources/ble/lmgr/lmgr_main.c#L74) ?

[2021-01-05 19:32] apcurtiss commented on #351
^^ just to clarify, when it was hit the attProcMtuReq function completed successfully and didn't try to send an error out.

[2021-01-06 09:19] pan- commented on #351
Thanks for trying @apcurtiss , these are difficult problems to solve without the hardware available to reproduce them.
Both ends reporting a timeout as the disconnection reason is surprising to me, as well as the Characteristic update example working and not the hearthrate one.

Are you experiencing incorrect behavior on other examples ?

[2021-02-14 00:15] idea--list commented on #347
@paul-szczepanek-arm

This arises 2 questions:
1. How should people get informed about this?? Especially as there is not a word about that throughout the documentation neither [here](https://os.mbed.com/docs/mbed-os/v6.7/apis/ble.html) nor [here](https://os.mbed.com/docs/mbed-cordio/19.02/introduction/index.html). Not to mention [this page](https://os.mbed.com/docs/mbed-cordio/19.02/introduction/i

[2021-02-14 00:38] idea--list opened #355 "Lack of usable BLE documentation"
### Description of defect
All the pages & repos that are intended to explain how to program BLE functionalities are full of non-sense bloat and are cross-linking to eachother without actually onboarding Mbed users how to use BLE.

#### Target(s) affected by this defect ?

#### Toolchain(s) (name and version) displaying this defect ?

#### What version of Mbed-os are you using (tag or sha) ?

####

[2021-02-14 06:22] ciarmcom commented on #355
@idea--list thank you for raising this issue.Please take a look at the following comments:

What target(s) are you using?
What toolchain(s) are you using?
It would help if you could also specify the versions of any tools you are using?

NOTE: If there are fields which are not applicable then please just add 'n/a' or 'None'. This indicates to us that at least all the fields have been considered.
Pl

[2021-02-15 09:08] paul-szczepanek-arm commented on #347
Hi.

1. There is no need to mention libraries by name in the readme, all you have to do is type `mbed deploy` in the chosen example (which the readme mentions). All libraries will be automatically checked out.

2. The online compile automatically checks out the libraries. I can see that the online compiler versions of examples are old. Thank you for bringing this to my attention. Our friends at ST

[2021-02-15 09:56] paul-szczepanek-arm commented on #355
Thank you for your feedback. I'll try to get some work scheduled to improve the docs.

As for the example, they compile and run fine. The pretty printer you mention is part of the utils and is checked out automatically when you `mbed deploy`. The other github issue page in which you posted your comments was due to the fact that the user had previously checked out an older version of the examples w

[2021-02-15 16:09] idea--list commented on #355
No, they do not. As i mentioned i am using Mbed Studio v1.3.1 until now i could not figure out how to use CLI commands like mbed deploy within that. What i did: copied the contents of main.cpp of BLE_Advertising example into a new file. Then i copy&pasted the content of pretty_printer.h found in mbed-os-ble-utils repo into another new file. Now the code compiles, but does not seem to run on my Art

[2021-02-15 16:56] idea--list commented on #347
Now at least i know what the problem is: the mindset.

1. There is really no need to mention important info anywhere as people who are intended to make use of BLE already know that. mbed deploy is not an option in Mbed Studio, but again people should not use that toy. Sorry for being sarcastic but i can not help after such an answer.

2. Checked out the link you mention. That is implemented in Mbe

[2021-02-16 10:42] paul-szczepanek-arm commented on #347
The utils library is not mentioned because it's an implementation detail and has nothing to do with BLE.

Mbed studio will check out the missing libraries for you. Open a folder with an example and it will show you libraries that are part of the example. It shows mbed os and the utils libraries and the fact they are missing. There's a button the arrow is pointing to that lets you fix the problem b

[2021-02-16 16:36] idea--list commented on #347
Thanks for the explanation, i did not know Studio would check out missing libraries automatically.

My primary board is a [Sparkfun Artemis Thing Plus](https://www.sparkfun.com/products/15574) (love it because the small form factor, the radio is also FCC and CE certified, consumes only ca 6-8 mA while transmitting, etc). Sparkfun made up the Mbed core based on Ambiq SDK (is a HAL). Interestingly t

[2021-02-16 17:14] factoryal commented on #347
@paul-szczepanek-arm Hi.
I followed [Building and flashing examples](https://github.com/ARMmbed/mbed-os-example-ble#building-and-flashing-examples) but didn't worked since `mbed deploy` does nothing.
So I Just did copy-pasting the sources of one of examples.
I think it caused the missing problem.

I found that from mbed-os-6.5, it needs mbed-cli [v2](https://os.mbed.com/docs/mbed-os/v6.7/build-too

[2021-02-16 17:16] paul-szczepanek-arm commented on #347
Old tools still work fine. Did you call mbed deploy inside a single example directory (not the root of the repo)?

[2021-02-16 17:20] factoryal commented on #347
@paul-szczepanek-arm
Yes. I called deploy inside a single example directory.
The error is that there's no 'mbed' as an execution unit.
It seems that the name changed `mbed` to `mbed-tools` on mbed-cli v2.

[2021-02-16 17:24] paul-szczepanek-arm commented on #347
The name did not change. mbed-tools is the new tool that uses cmake to build mbed. The old ones are very much still alive and supported. Can you please give me the version of your mbed?

[2021-02-16 17:25] paul-szczepanek-arm commented on #347
`mbed --version`

[2021-02-16 17:26] factoryal commented on #347
@paul-szczepanek-arm
7.0.0
![image](https://user-images.githubusercontent.com/22570054/108099076-7e052000-70c7-11eb-9ce6-d8fa7f760f85.png)

[2021-02-16 17:27] paul-szczepanek-arm commented on #347
OK, I don't speak Korean but I'm guessing this is a windows error and not a mbed error

[2021-02-16 17:27] paul-szczepanek-arm commented on #347
Are you sure you even have mbed installed?
`pip install -U mbed-cli`

[2021-02-16 17:33] factoryal commented on #347
@paul-szczepanek-arm
yes
![image](https://user-images.githubusercontent.com/22570054/108099604-316e1480-70c8-11eb-8eac-71571a36b5b5.png)

[2021-02-16 17:36] factoryal commented on #347
@paul-szczepanek-arm
are mbed-tools and mbed-cli different?

[2021-02-16 17:39] paul-szczepanek-arm commented on #347
Well, there's something wrong with your installation or there's a problem with powershell - the error is not coming from mbed, it's from windows. You should open an issue with https://github.com/ARMmbed/mbed-cli guys - they will know why the windows installation doesn't pick up the executable.

The new tools are different, yes. They're still an early development, they allow you to build mbed with

[2021-02-16 17:50] factoryal commented on #347
@paul-szczepanek-arm
https://os.mbed.com/docs/mbed-os/v6.7/build-tools/install-or-upgrade.html
it says "Mbed CLI 2 is a Python package called mbed-tools, so you can install it with pip."
I'm beginner in mbed programming and there's lot of things to know... um... just lot of confusion.
right I'm here is very midnight. so I'll check it later

Thanks for your support.

[2021-02-16 17:51] paul-szczepanek-arm commented on #347
They're both python libraries and AFAIK they use some common tools so likely mbed-tools deploy and mbed deploy does the exact same thing. It just looks like there's a problem with your installation of mbed-cli and powershell just can't find the executable although honestly I don't know how it works on windows - I'm sure the tools team can give you a hand with that.

[2021-02-16 18:19] pan- commented on #355
Hi @idea--list ,

Your describing two different problems in this topic:
- BLE documentation being inadequate: We welcome feedback from our users . Please raise them in the documentation repository: https://github.com/ARMmbed/mbed-os-5-docs/issues . Explaining what you think can be improved and more importantly how would help us deciding if it is something we should prioritize or not. Saying it is

[2021-02-17 11:36] idea--list commented on #355
Hi @pan-
Might be a long post even if i try to keep all this in a nutshell. This why the current documentation is full of bloat:
Take [this page](https://os.mbed.com/docs/mbed-cordio/19.02/introduction/index.html):
![image](https://user-images.githubusercontent.com/5784071/108191212-2d1b1900-7113-11eb-8bce-f48c2fcb8378.png)

Both links i marked with red are linking to the very same index page but

[2021-02-19 06:22] ciarmcom commented on #355
@idea--list it has been 5 days since the last reminder. Could you please update the issue header as previously requested?

[2021-02-21 01:58] idea--list commented on #355
Take a look at [this](https://www.argenox.com/library/bluetooth-low-energy/ble-advertising-primer/) and [this](https://support.kontakt.io/hc/en-gb/articles/201567802-Advertising-Interval-best-practise) website as examples of good onboarding with BLE.
While they do not tell how to program with Cordio stack, they explain how BLE works, this is also something Mbed's doc utterly fails.

[2021-02-24 06:23] ciarmcom commented on #355
@idea--list it has been 5 days since the last reminder. Could you please update the issue header as previously requested?

[2021-03-01 08:22] ciarmcom commented on #355
@idea--list it has been 5 days since the last reminder. Could you please update the issue header as previously requested?

[2021-03-07 18:07] ciarmcom commented on #355
@idea--list it has been 5 days since the last reminder. Could you please update the issue header as previously requested?

[2021-03-08 13:57] 0xc0170 commented on #355
I've fixed the template as it was quick.

[2021-03-08 14:23] ciarmcom commented on #355
Thank you for raising this detailed GitHub issue. I am now notifying our internal issue triagers.
*Internal Jira reference: https://jira.arm.com/browse/IOTOSM-3549*

[2021-03-24 07:42] Arjun765 commented on #355
They do not compile on GCC 9.3.1. I tried using the online compiler with the periodic advertisement example, while it compiles i can't get the Bluetooth to work properly (on a ST WB55).

[2021-03-24 13:35] boraozgen commented on #355
Same story for [the Cordio docs](https://os.mbed.com/docs/mbed-cordio/19.02/introduction/index.html)

How much of this information is up-to-date? AFAI understand the structure has changed quite a bit. Many of the folders depicted [here](https://os.mbed.com/docs/mbed-cordio/19.02/stack/folder-organization.html) do not exist anymore. I could not find a single piece of documentation on how the Cordio

[2021-03-24 15:19] boraozgen opened #364 "Mbed CLI 2 not linking BlueNrg HCI drivers"
### Description of defect

When building the examples with Mbed CLI 2 for DISCO_L562QE, I noticed that the BlueNrg HCI drivers do not get linked, resulting in a `Please provide an implementation for the HCI driver` error on initialization.

I then noticed that `mbed-ble-blue_nrg` CMake library does not get linked anywhere. I added this to the main CMake file:

`target_link_libraries(${APP_TARGET}

[2021-03-24 16:19] ciarmcom commented on #364
Thank you for raising this detailed GitHub issue. I am now notifying our internal issue triagers.
*Internal Jira reference: https://jira.arm.com/browse/IOTOSM-3709*

[2021-03-29 09:10] jeromecoutant commented on #364
Quick check on my side:
Everythink seems OK...

[code]

[2021-03-29 15:10] pan- opened #365 "Periodic advertisement example issue on WB55"
### Description of defect

From https://github.com/ARMmbed/mbed-os-example-ble/issues/355#issuecomment-805578819

They do not compile on GCC 9.3.1. I tried using the online compiler with the periodic advertisement example, while it compiles i can't get the Bluetooth to work properly (on a ST WB55).

#### Target(s) affected by this defect ?

ST WB55

#### Toolchain(s) (name and version) displaying

[2021-03-29 15:10] pan- commented on #365
@Arjun765 Is it a fair description of your issue ?

[2021-03-29 15:13] pan- commented on #355
@boraozgen Removing the cordio documentation from Mbed OS docs is something we track. Most of the information present remains valid but not everything is up to date like folder organization.

[2021-03-29 15:18] ciarmcom commented on #365
@pan- This issue has an incomplete or old issue template.For future reference please use an up to date clone of the repository before raising issues. Many thanks.

[2021-03-29 15:19] ciarmcom commented on #365
Thank you for raising this detailed GitHub issue. I am now notifying our internal issue triagers.
*Internal Jira reference: https://jira.arm.com/browse/IOTOSM-3735*

[2021-03-29 15:45] jeromecoutant commented on #365
@pan-
Did you try on your side...?

[2021-03-29 15:51] jeromecoutant commented on #365
Then as explained in https://github.com/ARMmbed/mbed-os-example-ble/tree/master/BLE_PeriodicAdvertising
Devices must support extended advertising and periodic advertising (Bluetooth version 5+).

[2021-03-29 16:12] paul-szczepanek-arm commented on #365
Thank you @jeromecoutant.

@Arjun765 we now have a handy new example:
https://github.com/ARMmbed/mbed-os-example-ble/tree/development/BLE_SupportedFeatures
which lists the available features.

[2021-03-29 16:12] #365 closed

[2021-03-30 07:51] boraozgen commented on #364
The issue isn't that it doesn't build. It builds without issues, albeit without linking the HCI driver, which gives an error in runtime:

[code]

You can also search for the `mbed-ble-blue_nrg` CMake target and see that it is not linked anywhere.

[2021-03-30 08:23] jeromecoutant commented on #364
Issue reproduced

[2021-03-30 08:58] pan- commented on #365
@jeromecoutant I opened the issue to keep track of it. It is expected extended advertising won't work on WB55.
Compilation is fine though.

[2021-03-30 09:42] Arjun765 commented on #365
`BLE_SupportedFeatures` works on a WB55. Tried the `BLE_Advertising` on a nrf52840, while i can see it advertising as "BATTERY" i can't connect to it. The nrf mobile app says "Error 133, GATT error"

[2021-03-30 10:03] paul-szczepanek-arm commented on #365
That is correct. It is advertising with non-connectable advertising. You can connect to BLE_GattServer_CharacteristicWrite for example.

[2021-04-06 05:45] idea--list opened #366 "Relying on event queue seems to be a really bad idea"
### Description of defect

Based on the BLE_GattServer_AddService example i wrote a really basic signal generator that streams values to another BLE device after a connection is established. The intention of this was to see how many packets get lost and how reliable is BLE API in general. The nRF Connect (and similar) apps are simply not fit for such evaluations... so i designed an app for scoping

[2021-04-06 07:23] ciarmcom commented on #366
Thank you for raising this detailed GitHub issue. I am now notifying our internal issue triagers.
*Internal Jira reference: https://jira.arm.com/browse/IOTOSM-3744*

[2021-04-06 08:16] pan- commented on #366
Thanks for sharing @idea--list . I don't think the issue has anything to do with the event queue which should be fast enough to handle any kind of transfer at the highest rate offered by BLE (every 6 ms).
In the example posted above, the issue seems to lie in data queuing which is unconditional of the link configuration. By default Android connection interval is set to 50ms. If you push new data e

[2021-04-06 08:45] paul-szczepanek-arm commented on #366
Store samples and send them in a batch. The frequency of updates doubles after reconnection because you call ```_event_queue.call_every(UPDATEINTV, [this] { update_sensor_value(); });``` a second time (the one from before is still running).

We're happy to help but this is not the place to ask these questions. This repository is for bugs with example code. If you have a general mbed-os bug to repo

[2021-04-06 08:45] #366 closed

[2021-04-14 14:27] #364 closed

[2021-05-24 08:46] jrobeson commented on #351
I can replicate this on an android based phone with another nrf52833 based board.

[2021-05-24 11:51] jrobeson opened #376 "Missing examples for reusable services"
### Description of defect

Previously this repository contained services that one could easily look at to see how they could be reused in your own code (like the LED service).

Now all the examples seem to have code in which the application is tied up with the service itself, so I can't figure out how standalone resuable services are supposed to look anymore.

I'd like to see an example in which B

[2021-05-24 13:16] ciarmcom commented on #376
@jrobeson This issue has an incomplete or old issue template.For future reference please use an up to date clone of the repository before raising issues. Many thanks.

[2021-05-24 13:16] ciarmcom commented on #376
Thank you for raising this detailed GitHub issue. I am now notifying our internal issue triagers.
*Internal Jira reference: https://jira.arm.com/browse/IOTOSM-4002*

[2021-05-24 13:20] AGlass0fMilk commented on #376
Hi @jrobeson,

The Mbed BLE services working group has been working on this for the past few months. We've been trying to come up with a robust framework for creating new services and integrating BLE as a modular subsystem.

This work has been mostly done in the [mbed-os-experimental-ble-services](https://github.com/ARMmbed/mbed-os-experimental-ble-services). There, you can see the current state o

[2021-05-25 22:57] jrobeson commented on #351
I ended up finding this issue because I had the exact same problem with my own service, so i figured I'd start with the upstream examples to figure out if the problem was similar.

I migrated my own code to use mbed-ble-utils `ble_process.h`  (with the queue `dispatch_forever` call commented out and now it works again.

I wonder if it has to do with advertising handle code.

`gap.setAdvertisingPay

[2021-05-26 02:11] jrobeson commented on #376
the services seem fine, but the only example of their usage is in the tests, which only do BLE stuff.  I just wanted to see something that assumes you already have a working application of some level of complexity (even if it's not shown in the example) and wanted to integrate BLE into it.

[2021-06-02 10:30] jrobeson opened #379 "Some examples don't expose their list of services"
### Description of defect

BLE_GattServer_CharacteristicUpdates, and BLE_GattServer_CharacteristicWrite (at least)
don't expose the list of services they offer, such as via `Complete list of 16-it Service UUIDs`.

However that GattServer_addService example still does. The difference seems to be that this one is still
or or less the old way (pre `mbed-os-ble-utils`).

Can someone else reproduce thi

[2021-06-02 10:39] paul-szczepanek-arm commented on #379
They don't. There's no such requirement for advertising payload to contain service uuids.

[2021-06-02 10:44] jrobeson commented on #379
There isn't a requirement, but it does mean that apis that allow you to filter on scan won't work.

[2021-06-02 11:41] ciarmcom commented on #379
@jrobeson This issue has an incomplete or old issue template.For future reference please use an up to date clone of the repository before raising issues. Many thanks.

[2021-06-02 11:41] ciarmcom commented on #379
Thank you for raising this detailed GitHub issue. I am now notifying our internal issue triagers.
*Internal Jira reference: https://jira.arm.com/browse/IOTOSM-4010*

[2021-06-02 12:38] paul-szczepanek-arm commented on #379
I can check but I think I removed the uuids because the examples does not actually run the service. If there is a genuine service there I can put the uuid back.

[2021-06-15 18:17] pearson opened #381 "BLE_Advertising example stack overflow nRF52 if debugging with MBED_TICKLESS is set"
### Description of defect

The Mbed BLE_Advertising example fails with a stack overflow on an nRF52832 in debug profile if the default `MBED_TICKLESS` parameter is set in the `MCU_NRF52832` section `mbed-os\targets\targets.json`.

[code]

This problem may be related to the `MBED_TICKLESS` debugging behavior described in [issue #14766 in mbed-os](https://github.com/ARMmbed/mbed-os/issues/14766).

#

[2021-06-15 20:11] ciarmcom commented on #381
Thank you for raising this detailed GitHub issue. I am now notifying our internal issue triagers.
*Internal Jira reference: https://jira.arm.com/browse/IOTOSM-4071*

[2021-06-15 22:38] pearson commented on #381
@ciarmcom , you're welcome!

I seem to be having a lot of issues with the nRF52832 and Mbed. I'll be posting another shortly regarding the BLE_PeriodicAdvertising example.

[2021-06-16 17:36] pearson opened #382 "mbed-tools.exe does not clone mbed-os-ble-utils for BLE_SupportedFeatures"
### Description of defect

When using `mbed-tools.exe import mbed-os-example-ble`, a copy of `mbed-os-ble-utils` is not cloned for the `BLE_SupportedFeatures` directory, causing this CMake error:
[code]

#### Target(s) and toolchain(s) (name and version) displaying this defect ?
Mbed CLI 2 v7.20.0, arm-none-eabi 10.2.1, on Windows 10

#### What version of the example and mbed-os are you using (tag

[2021-06-16 18:56] pearson commented on #382
This is my mistake. I must have dragged a CMakeLists.txt from a different BLE example into the BLE_SupportedFeatures. Sorry about that!

[2021-06-16 18:56] #382 closed

[2021-06-17 12:49] paul-szczepanek-arm commented on #379
OK, this was done to simplify the flow of the example. Examples are purely for educational reasons so to avoid cluttering the code with things that the example doesn't intend to teach those elements are omitted. Hence some examples use a ready-made process and only feature code relevant to the part of BLE API they intend to teach. For filtering you can can filter advertising by name. All examples

[2021-06-17 12:53] paul-szczepanek-arm commented on #376
Not sure what this kind of example would need to look like. The existing examples are extremely simple and if you want to embed them in an existing application all you have to do is rename the main function into run_ble function and call it from your application.

[2021-06-17 12:59] paul-szczepanek-arm commented on #381
I don't think you're problems are anything to do with examples. If you're having issues with the stack being too small, try doubling the stack size.

[2021-06-17 16:40] pearson commented on #381
Hi @paul-szczepanek-arm . I'm going to close this issue for now as I can no longer replicate the problem.

It's really odd... I tested my steps to reproduce (and edited them yesterday), and I could reproduce it.

Sorry about that. I'll reopen the problem if I can reproduce it again. That said, [issue #14766 in mbed-os](https://github.com/ARMmbed/mbed-os/issues/14766) with the nRF52832, `MBED_TICKL

[2021-06-17 16:40] #381 closed

[2021-06-18 09:34] paul-szczepanek-arm commented on #379
Closing as I will not be adding the services list back in.

[2021-06-18 09:34] #379 closed

[2021-06-20 11:35] idea--list commented on #355
Yesterday i stumbled across this one: [BLEIntros](https://github.com/ARMmbed/BLEIntros).
If i get it right, it was meant to document BLE in Mbed OS 3, which has been abandonned...and thus the content is not always valid in terms of Mbed OS 6.x versions.
But hey this is how a proper documentation reads like. It briefly introduces to the technology, explains things in a way one can truly understand

[2021-06-20 12:13] idea--list commented on #376
@paul-szczepanek-arm
I think @jrobeson wanted to tell that nobody begins by implementing the BLE code. Before that all of us need to reach some level of complexity in our program logic where we already have something useful info to get BLEd to another location. Those who have newer coded any Bluetooth will try to pick up new info about it just in that phase.

As you pointed out in that case one ju

[2021-06-20 21:35] paul-szczepanek-arm commented on #376
Not official team position, ask @pan-, but I don't think we're here to teach developers about BLE. There is already an extraordinary amount of resources that can teach you about BLE in general, how it works, etc available for free on the Internet. Not least on the official website: https://www.bluetooth.com/bluetooth-resources/bluetooth-le-developer-starter-kit/
We are a small team and cannot comp

[2021-06-20 22:21] jrobeson commented on #376
I ended up working out my problem by going line by line. However, I still think there's a bit of confusion regards to where onDataWritten and other similar events happen.  I see that chainable GAP handler happened, but it's not really well used. It'd be nice to see best practices about when and whether to use the chainable gap handler and where best to handle onDataWritten and similar events and m

[2021-06-21 00:39] idea--list commented on #376
@paul-szczepanek-arm
Wow... you might be really tired tonight if you think only average Joes have trouble with the API your team develops. Well... first of average Joes abandon Mbed OS way before they would try to use it's BLE implementation. If anyone who has hard time using MBED's BLE APIs then it might also mean that there is something wrong with the implementation and/or with its documentation

[2021-06-21 03:01] AGlass0fMilk commented on #376
@jrobeson

See the Mbed-os-experimental-services repository for examples of the current best practices we have developed. Many of the services I've started to develop follow closely to the structure of the ones in that repo. They are designed to be flexible, modular, and lightweight. The focus of the BLE stack and services is on communication rather than figuring everything out for you. The exampl

[2021-06-21 08:42] 0xc0170 commented on #355
I'll look at this repository, to add details and archive it. It should not cause the confusion.

Thanks for the feedback, we will review BLEIntros.

[2021-06-21 16:35] pan- commented on #376
@idea--list We are reworking the documentation to provide content which we think is more relevant to our audience. While doing this we stated goal for the documentation: it should explain how to use the Mbed OS API. It is not a place to explain how the Bluetooth protocol works in detail. There are other great resources available for that. To make an analogy, you wouldn't expect a socket library do

[2021-06-21 18:50] idea--list commented on #376
@pan-
I am very interested in the reworked doc! I mean for sure that has a potential to reduce the time until one can do useful things with the APIs and would also reduce the number of people asking anything after reading that. Of course there are great resources, that explain general aspects of BLE. For sure a new doc may contain links for such, it would not hurt anyone.

Until the reworked doc i

[2021-06-23 21:40] paul-szczepanek-arm commented on #376
@jrobeson this issue appears to have broadened in scope. Can you clarify what you think is broken? Just going by the title, there is an example for reusable services:
https://github.com/ARMmbed/mbed-os-example-ble/tree/development/BLE_GattServer_ExperimentalServices
As for integrating with your application that is outside of scope of this repository.

If there are particular problems you are facin

[2021-06-23 22:04] jrobeson commented on #376
I think that one does does cover my initial problem. I honestly ignored that specific one because it has the word experimental in it.

I guess the last issues i have will be covered as mbed-ble-utils stops dispatching events by itself, so it can be used freely in another application.

[2021-06-23 22:06] jrobeson commented on #376
I was just browsing the mbed discourse and saw this, so I"m not the only one with similar problems https://forums.mbed.com/t/ble-proper-way-to-add-several-services/13628

[2021-06-23 22:16] AGlass0fMilk commented on #376
So it is clear from our discussions that even the Mbed team has not yet established "best practices" for making complex BLE apps. Therefore, I think we should all work together with this understanding in mind.

The pattern I currently use in my apps pretty much has the following:

- A BLEProcess class that centralizes all the BLE initialization and setup, including creating the services and potent

[2021-06-24 08:21] paul-szczepanek-arm commented on #376
Yes, not all examples have been upgraded to BleApp but both BLEProcess and BleApp are there just to make the examples simpler. They are not meant for production code. All the examples here are not meant for production code.

Each examples tries to teach you one thing. A basic one one like the advertising one will show you how to set up the ble instance and run advertising. An example for subscript

[2021-06-24 10:09] pan- commented on #376
That can easily be fixed by providing a flag in the `start` function so it doesn't dispatch the event queue.

@AGlass0fMilk What you described would be the best practices minus when using Mbed BLE and that is what we're converging to in the experimental service.

[2021-06-25 08:46] idea--list commented on #376
@paul-szczepanek-arm , @pan-
I think a newbie will try to compare different examples of this repo to find a common pattern to figure out the current best practice. However it is rendered nearly impossible if one lacks all the info shared in the last 2-3 comments here.

If i am right there are 5 different approaches to program BLE logic:
Approach 1: direct programming of the HCI controller (masochi

[2021-11-27 16:21] kr0sh1 opened #392 "Definition of 'GattServer' device to search for"
In the docu of the 'BLE_GattClient_CharacteristicUpdates' example it mentions that it's hardcoded (presumably) to search for a device called 'GattServer'.

Where is this defined and how can it be changed?

[2021-11-29 10:29] noonfom commented on #392
Hi @kr0sh1, that appears to be hardcoded inside the [`get_device_name()`](https://github.com/ARMmbed/mbed-os-ble-utils/blob/0da6cf31bd6688e4a3ecdf98b356e4767f3248c4/gatt_server_process.h#L33) function of the `GattServerProcess` class.

Editing it seems nontrivial. @paul-szczepanek-arm could this be a private member with a public setter?

[2021-11-29 12:09] kr0sh1 commented on #392
@noonfom perfect, thanks for that!

[2021-11-29 13:05] paul-szczepanek-arm commented on #392
If you just want to change it in the example you can just edit the string here https://github.com/ARMmbed/mbed-os-ble-utils/blob/0da6cf31bd6688e4a3ecdf98b356e4767f3248c4/gatt_client_process.h#L46 to change what device name it's looking for.